@import "../../../../../resources/scss/theme.scss";
@import "../../../../../resources/scss/media.scss";

$show-icon-size: 160px;
$side-icon-size: 88px;
$card-width: 300px;

#banner {
  overflow: hidden;
  padding: 2rem 6rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom right, #4527a0, #673ab7);
  @include tablet {
    flex-flow: column-reverse wrap;
    justify-content: space-evenly;
    padding: 1rem 0 3rem 0;
  }
}

#hero {
  height: 100%;
  width: 55vw;
  color: white;
  @include tablet {
    width: 90vw;
    text-align: center;
  }
  #banner-title {
    font-size: 52px;
    margin-bottom: 0.5rem;
    span {
      &:first-child {
        color: #0091ea;
      }
    }
  }
  #banner-subtitle {
    font-size: 20px;
    margin-bottom: 1rem;
    font-style: italic;
  }
  #banner-divide {
    display: inline-block;
    width: 128px;
    height: 3px;
    background-color: #0091ea;
    margin-bottom: 1.5rem;
    transform: skewX(-30deg);
    @include tablet {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  #banner-text {
    width: 80%;
    line-height: 1.4;
    font-size: 18px;
    @include tablet {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  #banner-btns {
    user-select: none;
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    @include tablet {
      justify-content: center;
    }
    a {
      text-decoration: none;
      padding: 0.75rem 2rem;
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
      cursor: pointer;
      font-size: 20px;
      border-radius: 24px;
      filter: drop-shadow(0 1px 2px #424242);
      &:first-child {
        background: linear-gradient(to right, #00acc1, #039be5);
        color: white;
        margin-right: 2rem;
      }
      &:nth-child(2) {
        color: white;
        border: 1px white solid;
        transition-duration: 0.25s;
        &:hover {
          background-color: #ede7f6;
          color: #512da8;
          transition-duration: 0.25s;
        }
      }
    }
  }
}

#icon-group {
  user-select: none;
  position: relative;
  height: $show-icon-size * 2.56;
  flex: 1 1 auto;
  @include tablet {
    margin-bottom: 1rem;
  }
  img.cloud-icon {
    position: absolute;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    &:first-child {
      z-index: 2;
      width: $show-icon-size;
      height: $show-icon-size;
      top: calc(50% - #{$show-icon-size} / 2);
      left: calc(50% - #{$show-icon-size} / 2);
    }
    &:nth-child(2) {
      z-index: 1;
      width: $show-icon-size * 1.6;
      height: $show-icon-size * 1.6;
      top: calc(50% - #{$show-icon-size * 1.6} / 2);
      left: calc(50% - #{$show-icon-size * 1.6} / 2);
    }
    &:nth-child(3) {
      width: $show-icon-size * 2.3;
      height: $show-icon-size * 2.3;
      top: calc(50% - #{$show-icon-size * 2.3} / 2);
      left: calc(50% - #{$show-icon-size * 2.3} / 2);
    }
  }
  img.side-icon {
    position: absolute;
    z-index: 3;
    width: $side-icon-size;
    height: $side-icon-size;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    &:nth-child(4) {
      top: calc(50% - 95px);
      left: calc(50% - 195px);
    }
    &:nth-child(5) {
      top: calc(50% + 60px);
      left: calc(50% - 215px);
    }
    &:nth-child(6) {
      top: calc(50% - 155px);
      left: calc(50% + 15px);
    }
    &:nth-child(7) {
      top: calc(50% + 95px);
      left: calc(50% + 30px);
    }
    &:nth-child(8) {
      top: calc(50% - 10px);
      left: calc(50% + 145px);
    }
  }
}

#features {
  padding: 4rem 4rem;
  background-color: #eeeeee;
  position: relative;
  @include mobile {
    padding: 4rem 0;
  }
  #fet-header {
    width: 75vw;
    padding: 0 4rem;
    @include tablet {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    #fet-how {
      user-select: none;
      color: #0091ea;
      font-size: 24px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      span:first-child {
        display: inline-block;
        margin-right: 0.5rem;
        height: 5px;
        width: 6rem;
        background-color: #0091ea;
        @include mobile {
          width: 4.5rem;
        }
      }
    }
    #fet-title {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      padding-left: 4rem;
      font-size: 32px;
      font-weight: bold;
      @include tablet {
        padding-left: 0;
        font-size: 30px;
      }
      @include mobile {
        font-size: 28px;
      }
    }
    #fet-text {
      font-size: 18px;
      width: 80%;
      @include tablet {
        width: 90%;
      }
      @include mobile {
        width: 100%;
      }
    }
  }
  #fet-container {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}

.fet-card {
  margin-top: 3.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  user-select: none;
  color: white;
  width: 340px;
  height: $card-width * 1.5;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 1.5rem;
  border-radius: $card-width / 12;
  &:nth-child(1) {
    background: linear-gradient(to bottom, #ba68c8, #4a148c);
    box-shadow: 0 68px 16px -48px rgba($color: #7b1fa2, $alpha: 0.7);
  }
  &:nth-child(2) {
    background: linear-gradient(to bottom, #ff7043, #b71c1c);
    box-shadow: 0 68px 16px -48px rgba($color: #d32f2f, $alpha: 0.7);
  }
  &:nth-child(3) {
    background: linear-gradient(to bottom, #29b6f6, #0d47a1);
    box-shadow: 0 68px 16px -48px rgba($color: #1976d2, $alpha: 0.7);
  }
  img {
    width: 88px;
    height: 88px;
  }
  .card-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
  }
  .card-div {
    display: inline-block;
    background-color: white;
    width: 4rem;
    height: 3px;
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
  .card-text {
    line-height: 1.5;
  }
}

#login-wrapper {
  padding: 4rem 0 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    caret-color: #03a9f4;
    background-color: lighten($color: #03a9f4, $amount: 48%);
    &:focus {
      border-color: #03a9f4;
    }
  }
  .form-sub-title {
    color: #0277bd;
  }
  .form-action-btn:not(.reset-btn) {
    background-color: #039be5;
  }
}

#forms-wrapper {
  padding: 4rem 2rem 6rem 2rem;
  border-radius: 22px;
  width: 85%;
  color: white;
  box-shadow: 0 16px 32px 0 #9e9e9e;
  background-color: #03a9f4;
  @include mobile {
    width: 90%;
    padding: 4rem 1rem 6rem 1rem;
  }
  @include small {
    width: 95%;
    padding: 4rem 0 6rem 0;
  }
}

#forms-section {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  form {
    padding: 3rem 2.5rem;
    border-radius: 16px;
    color: black;
    background-color: #e1f5fe;
    width: 41%;
    box-shadow: 0 8px 32px 0 #0277bd;
    @include laptop {
      width: 56%;
      &:first-child {
        margin-bottom: 5rem;
      }
    }
    @include tablet {
      width: 66%;
    }
    @include mobile {
      width: 84%;
    }
    @include small {
      width: 92%;
    }
  }
  @include laptop {
    flex-flow: column wrap;
  }
}
