@import "../../../../../resources/scss/theme.scss";
@import "../../../../../resources/scss/media.scss";

$show-icon-size: 160px;
$side-icon-size: 88px;
$card-width: 300px;

#banner {
  overflow: hidden;
  padding: 2rem 6rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom right, #4527a0, #673ab7);
  @include tablet {
    flex-flow: column-reverse wrap;
    justify-content: space-evenly;
    padding: 1rem 0 3rem 0;
  }
}

#hero {
  height: 100%;
  width: 55vw;
  color: white;
  @include tablet {
    width: 90vw;
    text-align: center;
  }
  #banner-title {
    font-size: 52px;
    margin-bottom: 0.5rem;
    span {
      &:first-child {
        color: #0091ea;
      }
    }
  }
  #banner-subtitle {
    font-size: 20px;
    margin-bottom: 1rem;
    font-style: italic;
  }
  #banner-divide {
    display: inline-block;
    width: 128px;
    height: 3px;
    background-color: #0091ea;
    margin-bottom: 1.5rem;
    transform: skewX(-30deg);
    @include tablet {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  #banner-text {
    width: 80%;
    line-height: 1.4;
    font-size: 18px;
    @include tablet {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  #banner-btns {
    user-select: none;
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    @include tablet {
      justify-content: center;
    }
    a {
      text-decoration: none;
      padding: 0.75rem 2rem;
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
      cursor: pointer;
      font-size: 20px;
      border-radius: 24px;
      filter: drop-shadow(0 1px 2px #424242);
      &:first-child {
        background: linear-gradient(to right, #00acc1, #039be5);
        color: white;
        margin-right: 2rem;
      }
      &:nth-child(2) {
        color: white;
        border: 1px white solid;
        transition-duration: 0.25s;
        &:hover {
          background-color: #ede7f6;
          color: #512da8;
          transition-duration: 0.25s;
        }
      }
    }
  }
}

#icon-group {
  user-select: none;
  position: relative;
  height: $show-icon-size * 2.56;
  flex: 1 1 auto;
  @include tablet {
    margin-bottom: 1rem;
  }
  img.cloud-icon {
    position: absolute;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    &:first-child {
      z-index: 2;
      width: $show-icon-size;
      height: $show-icon-size;
      top: calc(50% - #{$show-icon-size} / 2);
      left: calc(50% - #{$show-icon-size} / 2);
    }
    &:nth-child(2) {
      z-index: 1;
      width: $show-icon-size * 1.6;
      height: $show-icon-size * 1.6;
      top: calc(50% - #{$show-icon-size * 1.6} / 2);
      left: calc(50% - #{$show-icon-size * 1.6} / 2);
    }
    &:nth-child(3) {
      width: $show-icon-size * 2.3;
      height: $show-icon-size * 2.3;
      top: calc(50% - #{$show-icon-size * 2.3} / 2);
      left: calc(50% - #{$show-icon-size * 2.3} / 2);
    }
  }
  img.side-icon {
    position: absolute;
    z-index: 3;
    width: $side-icon-size;
    height: $side-icon-size;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    &:nth-child(4) {
      top: calc(50% - 95px);
      left: calc(50% - 195px);
    }
    &:nth-child(5) {
      top: calc(50% + 60px);
      left: calc(50% - 215px);
    }
    &:nth-child(6) {
      top: calc(50% - 155px);
      left: calc(50% + 15px);
    }
    &:nth-child(7) {
      top: calc(50% + 95px);
      left: calc(50% + 30px);
    }
    &:nth-child(8) {
      top: calc(50% - 10px);
      left: calc(50% + 145px);
    }
  }
}

#features {
  padding: 4rem 4rem;
  background-color: #eeeeee;
  position: relative;
  @include mobile {
    padding: 4rem 0;
  }
  #fet-header {
    width: 75vw;
    padding: 0 4rem;
    @include tablet {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    #fet-how {
      user-select: none;
      color: #0091ea;
      font-size: 24px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      span:first-child {
        display: inline-block;
        margin-right: 0.5rem;
        height: 5px;
        width: 6rem;
        background-color: #0091ea;
        @include mobile {
          width: 4.5rem;
        }
      }
    }
    #fet-title {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      padding-left: 4rem;
      font-size: 32px;
      font-weight: bold;
      @include tablet {
        padding-left: 0;
        font-size: 30px;
      }
      @include mobile {
        font-size: 28px;
      }
    }
    #fet-text {
      font-size: 18px;
      width: 80%;
      @include tablet {
        width: 90%;
      }
      @include mobile {
        width: 100%;
      }
    }
  }
  #fet-container {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}

.fet-card {
  margin-top: 3.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  user-select: none;
  color: white;
  width: 340px;
  height: $card-width * 1.5;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 1.5rem;
  border-radius: $card-width / 12;
  &:nth-child(1) {
    background: linear-gradient(to bottom, #ba68c8, #4a148c);
    box-shadow: 0 68px 16px -48px rgba($color: #7b1fa2, $alpha: 0.7);
  }
  &:nth-child(2) {
    background: linear-gradient(to bottom, #ff7043, #b71c1c);
    box-shadow: 0 68px 16px -48px rgba($color: #d32f2f, $alpha: 0.7);
  }
  &:nth-child(3) {
    background: linear-gradient(to bottom, #29b6f6, #0d47a1);
    box-shadow: 0 68px 16px -48px rgba($color: #1976d2, $alpha: 0.7);
  }
  img {
    width: 88px;
    height: 88px;
  }
  .card-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
  }
  .card-div {
    display: inline-block;
    background-color: white;
    width: 4rem;
    height: 3px;
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
  .card-text {
    line-height: 1.5;
  }
}

#login-wrapper {
  padding: 4rem 0 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    caret-color: #3f51b5;
    background-color: lighten($color: #3f51b5, $amount: 48%);
    &:focus {
      border-color: #3f51b5;
    }
  }
  .form-sub-title {
    color: #283593;
  }
  .form-action-btn:not(.reset-btn) {
    background-color: #3949ab;
  }
}

#forms-wrapper {
  padding: 4rem 2rem 6rem 2rem;
  border-radius: 22px;
  width: 85%;
  color: white;
  box-shadow: 0 16px 32px 0 #9e9e9e;
  background-color: #3f51b5;
  @include mobile {
    width: 90%;
    padding: 4rem 1rem 6rem 1rem;
  }
  @include small {
    width: 95%;
    padding: 4rem 0 6rem 0;
  }
}

#forms-section {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  form {
    padding: 3rem 2.5rem;
    border-radius: 16px;
    color: black;
    background-color: #e8eaf6;
    width: 41%;
    box-shadow: 0 8px 32px 0 #283593;
    @include laptop {
      width: 60%;
      &:first-child {
        margin-bottom: 5rem;
      }
    }
    @include tablet {
      width: 72%;
    }
    @include mobile {
      width: 84%;
    }
    @include small {
      width: 92%;
    }
  }
  @include laptop {
    flex-flow: column wrap;
  }
}

#register-wrapper {
  padding: 4rem 0 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  input,
  select,
  textarea {
    caret-color: #e91e63;
    background-color: lighten($color: #e91e63, $amount: 48%);
    &:focus {
      border-color: #e91e63;
    }
  }
  .form-sub-title {
    color: #ad1457;
  }
  .form-action-btn:not(.reset-btn) {
    background-color: #d81b60;
  }
  label.form-inp-label {
    background-color: #e91e63;
    &:hover {
      background-color: #c2185b;
    }
  }
}

#reg-form-wrapper,
#customer-form-wrapper,
#oppo-form-wrapper {
  padding: 4rem 2rem 6rem 2rem;
  border-radius: 22px;
  width: 85%;
  color: white;
  box-shadow: 0 16px 32px 0 #9e9e9e;
  &#reg-form-wrapper {
    background-color: #e91e63;
  }
  &#customer-form-wrapper {
    background-color: #9c27b0;
  }
  &#oppo-form-wrapper {
    background-color: #2196f3;
  }
  @include mobile {
    width: 90%;
    padding: 4rem 1rem 6rem 1rem;
    &#customer-form-wrapper,
    &#oppo-form-wrapper {
      padding: 2.5rem 1rem 2.5rem 1rem;
    }
  }
  @include small {
    width: 95%;
    padding: 4rem 0 6rem 0;
    &#customer-form-wrapper,
    &#oppo-form-wrapper {
      padding: 2.5rem 0rem 2.5rem 0rem;
    }
  }
}

#register-form {
  padding: 3rem 2.5rem;
  border-radius: 16px;
  color: black;
  background-color: #fce4ec;
  width: 65%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 8px 32px 0 #ad1457;
  @include tablet {
    width: 80%;
  }
  @include mobile {
    width: 90%;
  }
}

#success-wrapper,
#error-wrapper {
  width: 800px;
  margin: 3rem auto 5rem auto;
  padding: 2.5rem 2rem 3rem 2rem;
  text-align: center;
  @include tablet {
    width: 650px;
  }
  @include mobile {
    width: 400px;
  }
  img {
    width: 128px;
    height: 128px;
  }
  h1 {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    font-size: 48px;
    font-family: "Nunito", sans-serif;
    @include mobile {
      font-size: 44px;
    }
  }
  h2 {
    font-weight: 500;
    font-size: 20px;
    color: #757575;
    margin-bottom: 3.25rem;
    padding: 0 0.75rem;
    @include mobile {
      font-size: 18px;
    }
  }
  a.seev-btn {
    background-color: #1976d2;
    margin: 0.75rem 1rem;
    &.return-btn {
      background-color: #4caf50;
    }
    &#error-page-btn {
      background-color: #d32f2f;
    }
  }
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 10px 20px -0px rgba($color: #000000, $alpha: 0.2);
}

#admin-header {
  user-select: none;
  margin-top: 2.5rem;
  padding: 1rem 4rem 0.5rem 8rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-family: "Righteous", cursive;
  @include tablet {
    padding: 0;
    text-align: center;
    flex-flow: column wrap;
  }
  img {
    display: inline-block;
    width: 96px;
    height: 96px;
    border-radius: 6px;
  }
  #admin-title {
    display: inline-block;
    font-size: 42px;
    color: #4a148c;
    margin-left: 3rem;
    @include tablet {
      margin-top: 1rem;
      margin-bottom: 3rem;
    }
    @include mobile {
      font-size: 38px;
    }
  }
}

#admin-logout {
  text-align: right;
  @include tablet {
    text-align: center;
  }
  a.seev-btn {
    margin-right: 6rem;
    background-color: #bf360c;
    @include tablet {
      margin-right: 0;
    }
  }
}

#clients-wrapper {
  user-select: none;
  height: 400px;
  margin-top: 5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  .client-row-wrapper {
    height: 72px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem 1rem 4rem;
    font-family: "Titillium Web", sans-serif;
    font-size: 26px;
    width: 800px;
    max-width: 80%;
    background-color: #7e57c2;
    color: white;
    cursor: pointer;
    border-top-left-radius: 36px;
    border-bottom-right-radius: 36px;
    transform: skewX(-18deg);
    margin: 1.25rem 0;
    transition-duration: 0.54s;
    transition-property: transform, margin, box-shadow;
    &.sta-de {
      background-color: #757575;
      cursor: default;
    }
    &.sta-ap {
      background-color: #43a047;
    }
    &.sta-rv {
      background-color: #ff5722;
    }
    @include mobile {
      font-size: 22px;
    }
    &:hover:not(.sta-de) {
      transform: scale(1.05) skewX(-18deg);
      margin: 1.75rem 0;
      box-shadow: 0 2px 6px 0 #000000;
      transition-duration: 0.4s;
      transition-property: transform, margin, box-shadow;
    }
  }
}

#admin-paginator {
  margin-top: 4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  @include mobile {
    flex-flow: column wrap;
  }
  a.seev-btn {
    background-color: #4527a0;
    transform: scale(0.95);
    margin: 0 2rem;
    @include mobile {
      margin: 0.75rem 0;
    }
  }
}

#admin-action-panel {
  width: 60%;
  height: 90%;
  padding: 3.5rem 6rem 2rem 6rem;
  z-index: 10;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  border-top: 3px #f44336 ridge;
  border-bottom: 3px #ad1457 ridge;
  box-shadow: 0 4px 8px 0 #424242;
  @include laptop {
    width: 65%;
    padding: 3.5rem 5rem 2rem 5rem;
  }
  @include tablet {
    width: 80%;
    padding: 3.5rem 3rem 2rem 3rem;
  }
  @include mobile {
    width: 90%;
    padding: 3.5rem 1rem 2rem 1.25rem;
  }
  #client-details {
    div {
      @include mobile {
        margin: 1.5rem 0;
      }
      &:first-child {
        margin-top: 0.5rem;
      }
      margin: 2rem 0;
      font-size: 22px;
      color: #4527a0;
      font-weight: 600;
      span {
        font-size: 20px;
        color: black;
        font-weight: normal;
      }
      p {
        display: block;
        padding: 0;
        margin: 4px 0 0 0;
        font-size: 18px;
        color: black;
        font-weight: normal;
        @include laptop {
          font-size: 17px;
        }
        @include tablet {
          font-size: 16px;
        }
      }
    }
  }
  form#approval-form {
    &:not(.no-show) {
      display: block;
    }
    @include tablet {
      padding: 0 2.5rem;
    }
    .form-ti-wrapper {
      input,
      select {
        font-size: 16px;
      }
      .form-label-wrapper {
        font-size: 18px;
      }
    }
    .form-action-btn {
      background-color: #c2185b;
      color: white;
    }
  }
}

#client-header {
  margin: 3rem 0 0 0;
  padding-left: 8rem;
  font-size: 36px;
  font-family: "Nunito", sans-serif;
  color: #303f9f;
  @include tablet {
    font-size: 30px;
    text-align: center;
    padding: 0 2rem;
  }
}

#client-sect-wrapper {
  padding: 4rem 0 8rem 0;
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: center;
  align-items: center;
  & > div:not(.gap) {
    width: 85%;
    min-height: 600px;
    @include mobile {
      width: 90%;
    }
  }
}

#client-main-panel {
  background-color: #f5f5f5;
  flex: 1 1 auto;
  margin-bottom: 6rem;
  padding: 3rem 0;
  border-radius: 16px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: left;
  box-shadow: 0 16px 20px 0 #bdbdbd;
  h2 {
    font-size: 26px;
    font-family: "Nunito", sans-serif;
    color: #1a237e;
    display: inline-block;
    text-align: center;
    margin: 0 auto 0.5rem 4rem;
    padding: 0.5rem 2.75em;
    border: #1a237e 6px double;
    @include tablet {
      margin: auto;
      font-size: 22px;
    }
  }
  #client-logout {
    text-align: right;
    margin-right: 2rem;
    @include tablet {
      margin-right: 0;
      padding-right: 2rem;
      a.seev-btn {
        height: 42px;
        font-size: 18px;
      }
    }
  }
}

#client-action-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 4rem 0 6rem 0;
  padding: 0 2rem;
  @include mobile {
    padding: 0;
  }
}

.client-action {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 2.5rem;
  margin: 0.75rem 1rem;
  font-size: 18px;
  img {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-bottom: 1.5rem;
  }
  &:first-child {
    &:hover {
      outline: #d32f2f 1px solid;
    }
    a.seev-btn {
      background-color: #d32f2f;
    }
  }
  &:nth-child(2) {
    &:hover {
      outline: #7b1fa2 1px solid;
    }
    a.seev-btn {
      background-color: #7b1fa2;
    }
  }
  &:nth-child(3) {
    &:hover {
      outline: #1976d2 1px solid;
    }
    a.seev-btn {
      background-color: #1976d2;
    }
  }
  &:nth-child(4) {
    &:hover {
      outline: #303f9f 1px solid;
    }
    a.seev-btn {
      background-color: #303f9f;
    }
  }
}

#customer-form {
  padding: 3rem 2.5rem;
  border-radius: 16px;
  color: black;
  background-color: #f3e5f5;
  width: 65%;
  margin: 2rem auto 3rem auto;
  box-shadow: 0 8px 32px 0 #7b1fa2;
  input,
  select,
  textarea {
    caret-color: #9c27b0;
    background-color: lighten($color: #ab47bc, $amount: 48%);
    &:focus {
      border-color: #9c27b0;
    }
  }
  .form-sub-title {
    color: #6a1b9a;
  }
  .form-action-btn:not(.reset-btn) {
    background-color: #8e24aa;
  }
  @include tablet {
    width: 80%;
  }
  @include mobile {
    width: 90%;
  }
}

#oppo-form {
  padding: 3rem 2.5rem;
  border-radius: 16px;
  color: black;
  background-color: #e3f2fd;
  width: 65%;
  margin: 2rem auto 3rem auto;
  box-shadow: 0 8px 32px 0 #1565c0;
  input,
  select,
  textarea {
    caret-color: #2196f3;
    background-color: lighten($color: #2196f3, $amount: 48%);
    &:focus {
      border-color: #2196f3;
    }
  }
  .form-sub-title {
    color: #1565c0;
  }
  .form-action-btn:not(.reset-btn) {
    background-color: #1e88e5;
  }
  @include tablet {
    width: 80%;
  }
  @include mobile {
    width: 90%;
  }
}

#rec-head {
  user-select: none;
  padding: 0 0 4rem 8rem;
  margin: 3rem 0 0 0;
  font-family: "Nunito", sans-serif;
  @include tablet {
    padding: 0 0 4rem 0;
    text-align: center;
  }
  h1 {
    color: #880e4f;
    font-size: 36px;
    margin: 0 0 1.5rem 0;
    @include tablet {
      font-size: 30px;
      text-align: center;
      padding: 0 2rem;
    }
  }
  a.seev-btn {
    background-color: #607d8b;
  }
}

#rec-wrapper {
  text-align: center;
  background-color: #f5f5f5;
  margin: 0 auto 8rem auto;
  padding: 3rem 0;
  border-radius: 16px;
  box-shadow: 0 16px 20px 0 #bdbdbd;
  width: 85%;
  h2 {
    user-select: none;
    font-size: 26px;
    color: #b71c1c;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 2.75em;
    border: #b71c1c 6px double;
    @include tablet {
      font-size: 22px;
    }
  }
}

#rec-table {
  width: 85%;
  margin: 4rem auto 3rem auto;
  text-align: left;
  font-size: 18px;
  .rec-row {
    max-width: 100%;
    border-bottom: #90a4ae 2px solid;
    display: flex;
    flex-flow: row nowrap;
    padding: 0.75rem;
    &:nth-child(2n + 3) {
      background-color: #eceff1;
    }
    &#rec-title-row {
      user-select: none;
      color: #ad1457;
      font-size: 20px;
      font-weight: bold;
    }
    span {
      display: inline-block;
      padding: 0.5rem 1rem;
      overflow-wrap: break-word;
      width: 18%;
      &.rec-no-act {
        color: #ff5722;
      }
      &:first-child {
        width: 50%;
      }
      &:last-child {
        user-select: none;
        text-align: center;
        width: 14%;
        &.rec-del {
          img {
            cursor: pointer;
          }
        }
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  @include tablet {
    font-size: 16px;
    width: 90%;
    .rec-row {
      &#rec-title-row {
        font-size: 18px;
      }
      span {
        width: 25%;
        &:first-child {
          width: 30%;
        }
        &:last-child {
          width: 20%;
        }
      }
    }
  }
}
