@import "../../../../../resources/scss/theme.scss";
@import "../../../../../resources/scss/media.scss";

$show-icon-size: 160px;
$side-icon-size: 88px;

#banner {
  padding: 2rem 6rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom right, #4527a0, #673ab7);
  @include tablet {
    flex-flow: column-reverse wrap;
    justify-content: space-evenly;
    padding: 1rem 0 3rem 0;
  }
}

#hero {
  height: 100%;
  width: 55vw;
  color: white;
  @include tablet {
    width: 90vw;
    text-align: center;
  }
  #banner-title {
    font-size: 52px;
    margin-bottom: 0.5rem;
    span {
      &:first-child {
        color: #0091ea;
      }
    }
  }
  #banner-subtitle {
    font-size: 20px;
    margin-bottom: 1rem;
    font-style: italic;
  }
  #banner-divide {
    display: inline-block;
    width: 128px;
    height: 3px;
    background-color: #0091ea;
    margin-bottom: 1.5rem;
    transform: skewX(-30deg);
    @include tablet {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  #banner-text {
    width: 80%;
    line-height: 1.4;
    font-size: 18px;
    @include tablet {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  #banner-btns {
    user-select: none;
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    @include tablet {
      justify-content: center;
    }
    a {
      text-decoration: none;
      padding: 0.75rem 2rem;
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
      cursor: pointer;
      font-size: 20px;
      border-radius: 24px;
      filter: drop-shadow(0 1px 2px #424242);
      &:first-child {
        background: linear-gradient(to right, #00acc1, #039be5);
        color: white;
        margin-right: 2rem;
      }
      &:nth-child(2) {
        color: white;
        border: 1px white solid;
        transition-duration: 0.25s;
        &:hover {
          background-color: #ede7f6;
          color: #512da8;
          transition-duration: 0.25s;
        }
      }
    }
  }
}

#icon-group {
  user-select: none;
  position: relative;
  height: $show-icon-size * 2.56;
  flex: 1 1 auto;
  img.cloud-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &:first-child {
      z-index: 2;
      width: $show-icon-size;
      height: $show-icon-size;
    }
    &:nth-child(2) {
      z-index: 1;
      width: $show-icon-size * 1.6;
      height: $show-icon-size * 1.6;
    }
    &:nth-child(3) {
      width: $show-icon-size * 2.3;
      height: $show-icon-size * 2.3;
    }
  }
  img.side-icon {
    position: absolute;
    z-index: 3;
    width: $side-icon-size;
    height: $side-icon-size;
    &:nth-child(4) {
      top: calc(50% - 95px);
      left: calc(50% - 195px);
    }
    &:nth-child(5) {
      top: calc(50% + 60px);
      left: calc(50% - 215px);
    }
    &:nth-child(6) {
      top: calc(50% - 155px);
      left: calc(50% + 15px);
    }
    &:nth-child(7) {
      top: calc(50% + 95px);
      left: calc(50% + 30px);
    }
    &:nth-child(8) {
      top: calc(50% - 10px);
      left: calc(50% + 145px);
    }
  }
}
