<!-- Administrator page of the application -->
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/main.min.css' %}">
{% endblock css %}

{% block content %}
<div id="admin-header">
	<img src="{% static 'core/images/icon-35.svg' %}" alt="admin-icon">
	<div id="admin-title">Client Profile Manager</div>
</div>
<div id="admin-logout">
	<a href="/logout/" class="seev-btn">Logout</a>
</div>
<div id="clients-wrapper">
	{% for client in clients %}
	<div class="client-row-wrapper" data-id="{{ client.client_id }}" data-status="{{ client.status }}">
		<div class="client-name">{{ client.entity_name }}</div>
	</div>
	<div id="client_{{ client.client_id }}" class="no-show">
		<div class="client-name">{{ client.entity_name }}</div>
		<div class="ctg-name">{{ client.ctg_name }}</div>
		<div class="country">{{ client.country }}</div>
		<div class="contact-email">{{ client.contact_email }}</div>
		<div class="contact-phone">{{ client.contact_phone }}</div>
		<div class="summary">{{ client.summary }}</div>
		<div class="status">{{ client.status }}</div>
	</div>
	{% endfor %}
</div>
<div id="admin-paginator">
	{% if clients.has_previous %}
	<a href="?request_page={{ clients.previous_page_number }}" class="seev-btn">Previous</a>
	{% endif %}
	{% if clients.has_next %}
	<a href="?request_page={{ clients.next_page_number }}" class="seev-btn">Next</a>
	{% endif %}
</div>
<!-- Popup Panel -->
<aside id="admin-action-panel" class="no-scroll-bar no-show">
	<img class="seev-close" src="{% static 'icon-99.svg' %}" alt="close-icon">
	<div id="client-details" class="show">
		<div>Client Name: <span class="client-name"></span></div>
		<div>Country: <span class="country"></span></div>
		<div>Email: <span class="contact-email"></span></div>
		<div>Phone: <span class="contact-phone"></span></div>
		<div>Summary: <p class="summary"></p>
		</div>
		<div>Status: <span class="status"></span></div>
	</div>
	<form id="approval-form" action="/do-approve/" method="post" class="no-show" novalidate>
		{% csrf_token %}
		<div class="form-ti-wrapper">
			<div class="form-label-wrapper">
				<label>Catalog Namespace</label>
				<span class="asterisk"> * </span>
			</div>
			<input id="client-ctg" type="text" name="ctg_name">
		</div>
		{% for field in approvalForm.hidden_fields %}
		{{ field }}
		{% endfor %}
		{% for field in approvalForm.visible_fields %}
		<div class="form-ti-wrapper">
			<div class="form-label-wrapper">
				<label>{{ field.label }}</label>
			</div>
			{{ field }}
		</div>
		{% endfor %}
		<div class="form-action-wrapper">
			<button id="admin-save-btn" class="form-action-btn" type="submit">Save</button>
		</div>
	</form>
	<img class="seev-switch" src="{% static 'icon-98.svg' %}" alt="switch-icon">
</aside>
<div id="admin-overlay" class="black-overlay no-show"></div>
{% endblock content %}

{% block js %}
<script src="{% static 'core/js/main.js' %}"></script>
<script src="{% static 'core/js/admin.js' %}"></script>
{% endblock js %}