<!-- Administrator page of the application -->
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/main.min.css' %}">
{% endblock css %}

{% block content %}
<div id="admin-header">
	<img src="{% static 'core/images/icon-35.svg' %}" alt="admin-icon">
	<div id="admin-title">Client Profile Manager</div>
</div>
<div id="admin-logout">
	<a href="/logout/" class="seev-btn">Logout</a>
</div>
<div id="clients-wrapper">
	{% for client in clients %}
	<div class="client-row-wrapper" data-status="{{ client.status }}">
		<div class="client-name">{{ client.entity_name }}</div>
	</div>
	<div id="client_{{ client.client_id }}" class="no-show">
		<div class="ctg_name">{{ client.ctg_name }}</div>
		<div class="trade_ticker">{{ client.trade_ticker }}</div>
		<div class="contact_email">{{ client.contact_email }}</div>
		<div class="contact_phone">{{ client.contact_phone }}</div>
		<div class="website">{{ client.website }}</div>
		<div class="summary">{{ client.summary }}</div>
		<div class="signature_letter">{{ client.signature_letter }}</div>
	</div>
	{% endfor %}
</div>
<div id="admin-paginator">
	{% if clients.has_previous %}
	<a href="?request_page={{ clients.previous_page_number }}" class="seev-btn">Previous</a>
	{% endif %}
	{% if clients.has_next %}
	<a href="?request_page={{ clients.next_page_number }}" class="seev-btn">Next</a>
	{% endif %}
</div>
<!-- Popup Panel -->
<aside id="admin-action-panel" class="no-scroll-bar show">
	<img class="seev-close" src="{% static 'icon-99.svg' %}" alt="close-icon">
	<div id="client-details" class="no-show">
		<div>Client Name: <span>Client ???</span></div>
		<div>Country: <span>UK</span></div>
		<div>Email: <span>abc@example.com</span></div>
		<div>Phone: <span>8885009200</span></div>
		<div>Summary: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vero nesciunt voluptatem a
				fugit consectetur.</span></div>
		<div>Letter: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores in aperiam recusandae
				consequatur, exercitationem veritatis tempore voluptatibus! Repudiandae, molestiae optio?</span></div>
	</div>
	<form id="approval-form" action="" method="post" class="show" novalidate>
		{% csrf_token %}
		{% if client.ctg_name is None or client.ctg_name == '' %}
		<div class="form-ti-wrapper">
			<div class="form-label-wrapper">
				<label>Catalog Namespace</label>
				<span class="asterisk"> * </span>
			</div>
			<input type="text" name="ctg_name">
		</div>
		{% endif %}
		{% for field in approvalForm.hidden_fields %}
		{{ field }}
		{% endfor %}
		{% for field in approvalForm.visible_fields %}
		<div class="form-ti-wrapper">
			<div class="form-label-wrapper">
				<label>{{ field.label }}</label>
			</div>
			{{ field }}
		</div>
		{% endfor %}
		<div class="form-action-wrapper">
			<button class="form-action-btn" type="submit">Save</button>
		</div>
	</form>
	<img class="seev-switch" src="{% static 'icon-98.svg' %}" alt="switch-icon">
</aside>
<div class="black-overlay show"></div>
{% endblock content %}

{% block js %}
<script src="{% static 'core/js/main.js' %}"></script>
{% endblock js %}