<!-- Client main page of the application -->
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/main.min.css' %}">
{% endblock css %}

{% block content %}
<h1 id="client-header">Welcome to Business Management</h1>
<div id="client-sect-wrapper">
	<!-- Opportunity -->
	{% if oppoForm %}
	<div id="oppo-form-wrapper">
		<div class="form-title font-title">Opportunity Portal</div>

		<!-- Form Instance -->
		<form id="oppo-form" action="/do-oppo/" method="post" novalidate>
			<div class="form-sub-title font-mont">Create Deal</div>
			{% csrf_token %}
			{% for field in approvalForm.hidden_fields %}
			{{ field }}
			{% endfor %}
			{% for field in oppoForm.visible_fields %}
			<div class="form-ti-wrapper">
				<div class="form-label-wrapper">
					<label>{{ field.label }}</label>
					{% if field.field.required %}
					<span class="asterisk"> * </span>
					{% endif %}
				</div>
				{{ field }}
				<div class="form-ie-wrapper">
					<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
				</div>
			</div>
			{% endfor %}
			<div class="form-action-wrapper">
				<button class="form-action-btn" type="submit">Submit</button>
				<button class="form-action-btn reset-btn" type="reset">Clear</button>
			</div>
		</form>
	</div>
	<div class="gap" style="height: 6rem"></div>
	{% endif %}
	<!-- Enrollment -->
	<div id="customer-form-wrapper">
		<div class="form-title font-title">Customer Portal</div>

		<!-- Form Instance -->
		<form id="customer-form" action="/enroll/" method="post" novalidate>
			<div class="form-sub-title font-mont">Enrollment</div>
			{% csrf_token %}
			{% for field in customerForm %}
			<div class="form-ti-wrapper">
				<div class="form-label-wrapper">
					<label>{{ field.label }}</label>
					{% if field.field.required %}
					<span class="asterisk"> * </span>
					{% endif %}
				</div>
				{{ field }}
				<div class="form-ie-wrapper">
					<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
				</div>
			</div>
			{% endfor %}
			<div class="form-action-wrapper">
				<button class="form-action-btn" type="submit">Submit</button>
				<button class="form-action-btn reset-btn" type="reset">Clear</button>
			</div>
		</form>
	</div>
	<div id="client-main-panel">
		<h2>{{ client.entity_name }}</h2>
		<div id="client-action-wrapper">
			<div class="client-action">
				<img src="{% static 'core/images/icon-36.svg' %}" alt="catalog-act">
				<a href="/catalog/" class="seev-btn large-btn">Configure Catalog</a>
			</div>
			<div class="client-action">
				<img src="{% static 'core/images/icon-38.svg' %}" alt="oppo-act">
				<a href="/client/#customer-form-wrapper" class="seev-btn large-btn">Sign Customer</a>
			</div>
			<div class="client-action">
				<img src="{% static 'core/images/icon-37.svg' %}" alt="oppo-act">
				<a href="/client/#oppo-form-wrapper" class="seev-btn large-btn" onclick="checkCustomerExist()">Create
					Opportunity</a>
			</div>
			<div class="client-action">
				<img src="{% static 'core/images/icon-39.svg' %}" alt="oppo-act">
				<a href="/records/" class="seev-btn large-btn">View Records</a>
			</div>
		</div>
		<div id="client-logout">
			<a href="/logout/" class="seev-btn logout-btn">Logout</a>
		</div>
	</div>
</div>
{% endblock content %}

{% block snackData %}
{% if snack_data is not None and snack_data != '' %}
{{ snack_data }}
{% endif %}
{% endblock snackData %}

{% block js %}
<script src="{% static 'core/js/main.js' %}"></script>
<script src="{% static 'core/js/forms.js' %}"></script>
{% endblock js %}