<!-- Administrator page of the application -->
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/main.min.css' %}">
{% endblock css %}

{% block content %}
<h1 id="client-header">Welcome to Business Management</h1>
<div id="client-sect-wrapper">
	<div id="customer-form-wrapper"></div>
	<div id="client-main-panel">
		<h2>{{ client.entity_name }}</h2>
		<div id="client-action-wrapper">
			<div class="client-action">
				<img src="{% static 'core/images/icon-36.svg' %}" alt="catalog-act">
				<a href="#" class="seev-btn large-btn">Configure Catalog</a>
			</div>
			<div class="client-action">
				<img src="{% static 'core/images/icon-37.svg' %}" alt="oppo-act">
				<a href="#" class="seev-btn large-btn">Create Opportunity</a>
			</div>
		</div>
		<div id="client-logout">
			<a href="/logout/" class="seev-btn logout-btn">Logout</a>
		</div>
	</div>
</div>
{% endblock content %}

{% block snackData %}
{% if snack_data is not None and snack_data != '' %}
{{ snack_data }}
{% endif %}
{% endblock snackData %}

{% block js %}
<script src="{% static 'core/js/main.js' %}"></script>
<script src="{% static 'core/js/forms.js' %}"></script>
{% endblock js %}