<!-- Landing page of the application -->
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/main.min.css' %}">
{% endblock css %}

{% block content %}
<div id="banner">
	<div id="hero">
		<div id="banner-title" class="font-hero">
			<span>Enterprise</span>
			<span>Servicing</span>
		</div>
		<div id="banner-subtitle">Smart ordering platform with catalog system</div>
		<div id="banner-divide"></div>
		<div id="banner-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quibusdam nostrum eaque
			fugiat molestiae? Quasi quos a molestiae dolorum accusamus consequuntur sequi at amet iste.</div>
		<div id="banner-btns">
			<a>Sign in</a>
			<a>New business</a>
		</div>
	</div>
	<div id="icon-group">
		<img class="cloud-icon" src="{% static 'core/images/cloud-i.svg' %}" alt="cloud-icon-i">
		<img class="cloud-icon" src="{% static 'core/images/cloud-m.svg' %}" alt="cloud-icon-m">
		<img class="cloud-icon" src="{% static 'core/images/cloud-o.svg' %}" alt="cloud-icon-o">
		<img class="side-icon" src="{% static 'core/images/side-01.png' %}" alt="side-icon-1">
		<img class="side-icon" src="{% static 'core/images/side-02.png' %}" alt="side-icon-2">
		<img class="side-icon" src="{% static 'core/images/side-03.png' %}" alt="side-icon-3">
		<img class="side-icon" src="{% static 'core/images/side-04.png' %}" alt="side-icon-4">
		<img class="side-icon" src="{% static 'core/images/side-05.png' %}" alt="side-icon-5">
	</div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'core/js/main.js' %}"></script>
{% endblock js %}