<!-- Landing page of the application -->
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/main.min.css' %}">
{% endblock css %}

{% block content %}
<!-- Banner -->
<div id="banner">
	<div id="hero">
		<div id="banner-title" class="font-hero">
			<span>Enterprise</span>
			<span>Servicing</span>
		</div>
		<div id="banner-subtitle">Smart ordering platform with catalog system</div>
		<div id="banner-divide"></div>
		<div id="banner-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quibusdam nostrum eaque
			fugiat molestiae? Quasi quos a molestiae dolorum accusamus consequuntur sequi at amet iste.</div>
		<div id="banner-btns">
			<a>Sign in</a>
			<a>New business</a>
		</div>
	</div>
	<div id="icon-group">
		<img class="cloud-icon" src="{% static 'core/images/cloud-i.svg' %}" alt="cloud-icon-i">
		<img class="cloud-icon" src="{% static 'core/images/cloud-m.svg' %}" alt="cloud-icon-m">
		<img class="cloud-icon" src="{% static 'core/images/cloud-o.svg' %}" alt="cloud-icon-o">
		<img class="side-icon" src="{% static 'core/images/side-01.png' %}" alt="side-icon-1">
		<img class="side-icon" src="{% static 'core/images/side-02.png' %}" alt="side-icon-2">
		<img class="side-icon" src="{% static 'core/images/side-03.png' %}" alt="side-icon-3">
		<img class="side-icon" src="{% static 'core/images/side-04.png' %}" alt="side-icon-4">
		<img class="side-icon" src="{% static 'core/images/side-05.png' %}" alt="side-icon-5">
	</div>
</div>

<!-- Features -->
<div id="features">
	<img src="{% static 'core/images/icon-16.svg' %}" alt="fet-icon">
	<div id="fet-header">
		<div id="fet-how">
			<span></span>
			<span>THE WAY IT WORKS</span>
		</div>
		<div id="fet-title">Our Advantages</div>
		<div id="fet-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi eum fuga eligendi iusto commodi
			odit, doloribus voluptatem officia impedit cum.</div>
	</div>
	<div id="fet-container">
		<div class="fet-card">
			<img src="{% static 'core/images/card-icon-1.svg' %}" alt="card-icon-1" class="card-icon">
			<div class="card-title">Open & Secure</div>
			<div class="card-div"></div>
			<div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat assumenda voluptas
				perferendis? Expedita, voluptatem minima!</div>
		</div>
		<div class="fet-card">
			<img src="{% static 'core/images/card-icon-2.svg' %}" alt="card-icon-2" class="card-icon">
			<div class="card-title">Highly Customizable</div>
			<div class="card-div"></div>
			<div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, libero nihil ab dignissimos
				expedita facere.</div>
		</div>
		<div class="fet-card">
			<img src="core/images/card-icon-3.svg" alt="card-icon-3" class="card-icon">
			<div class="card-title">Fast & Economic</div>
			<div class="card-div"></div>
			<div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nulla molestiae aliquam
				aspernatur possimus adipisci.</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'core/js/main.js' %}"></script>
{% endblock js %}