<!-- Main login page of the application -->
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/main.min.css' %}">
{% endblock css %}

{% block content %}
<div id="login-wrapper">
	<div id="forms-wrapper">
		<div class="form-home-wrapper">
			<a class="home-btn">Home</a>
		</div>
		<div class="form-title font-nuni">Client Portal</div>
		<!-- Forms -->
		<!-- <div class="form-sub-title">Sign in</div> -->
		<!-- <div class="form-sub-title">Password Reset</div> -->
		<div class="form-alt-text font-tweb">
			<span class="fat-text">Don't have a business account yet?</span>
			<span class="fat-action"><a>Sign up</a></span>
		</div>
	</div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'core/js/main.js' %}"></script>
{% endblock js %}