<!-- Client record page of the application -->
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/main.min.css' %}">
{% endblock css %}

{% block content %}
<div id="rec-head">
	<h1>Client Records</h1>
	<h2>{{ entity_name }}</h2>
</div>
<!-- Record List -->
<div id="rec-wrapper">
	<div id="rec-table">
		<div id="rec-title-row">
			<span>Oppor. #</span>
			<span>Created at</span>
			<span>Customer</span>
			<span class="rec-del-btn">Action</span>
		</div>
		{% for oppo in records %}
		<div class="rec-row">
			<span>{{ oppo.0 }}</span>
			<span>{{ oppo.1|date:"Y-M-d" }}</span>
			<span>{{ oppo.2 }}</span>
			<span class="rec-del-btn">Annul</span>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}

{% block snackData %}
{% if snack_data is not None and snack_data != '' %}
{{ snack_data }}
{% endif %}
{% endblock snackData %}

{% block js %}
<script src="{% static 'core/js/main.js' %}"></script>
{% endblock js %}