<!-- Client record page of the application -->
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/main.min.css' %}">
{% endblock css %}

{% block content %}
<h1>Records is working!</h1>
<h2>{{ entity_name }}</h2>
<!-- Record List -->
{% for cust_name, oppoList in records.items %}
<h3>{{ cust_name }}</h3>
{% if oppoList is None %}
<em>No opportunities found</em>
{% endif %}
{% for oppo in oppoList %}
<div><span>{{ oppo.0 }} </span><span> {{ oppo.1 }}</span></div>
{% endfor %}
{% endfor %}
{% endblock content %}

{% block snackData %}
{% if snack_data is not None and snack_data != '' %}
{{ snack_data }}
{% endif %}
{% endblock snackData %}

{% block js %}
<script src="{% static 'core/js/main.js' %}"></script>
{% endblock js %}