<!-- Client record page of the application -->
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/main.min.css' %}">
{% endblock css %}

{% block content %}
<h1>Records is working!</h1>
<h2>{{ client.entity_name }}</h2>
{% endblock content %}

{% block snackData %}
{% if snack_data is not None and snack_data != '' %}
{{ snack_data }}
{% endif %}
{% endblock snackData %}

{% block js %}
<script src="{% static 'core/js/main.js' %}"></script>
{% endblock js %}