<!-- Main login page of the application -->
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/main.min.css' %}">
{% endblock css %}

{% block content %}
<div id="register-wrapper">
	<div id="reg-form-wrapper">
		<div class="form-title font-title">Business Portal</div>

		<!-- Forms -->
		<form id="register-form" action="/do-reg/" method="post" novalidate>
			<div class="form-sub-title font-mont">Sign up</div>
			{% csrf_token %}
			{% for field in registerForm %}
			<div class="form-ti-wrapper">
				<div class="form-label-wrapper">
					<label>{{ field.label }}</label>
					{% if field.field.required %}
					<span class="asterisk"> * </span>
					{% endif %}
				</div>
				{{ field }}
				{% if field.field.widget.input_type == 'file' %}
				<label for="id_{{ field.name }}" class="form-inp-label">Choose a file</label>
				{% endif %}
				<div class="form-ie-wrapper">
					<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
				</div>
			</div>
			{% endfor %}
			<div class="form-action-wrapper">
				<button class="form-action-btn" type="submit">Submit</button>
				<button class="form-action-btn reset-btn" type="reset">Clear</button>
			</div>
		</form>

		<div class="form-alt-text font-tweb">
			<span class="fat-text">Already a registered business?</span>
			<span class="fat-action"><a href="/login/">Sign in</a></span>
		</div>
	</div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'core/js/main.js' %}"></script>
<script src="{% static 'core/js/forms.js' %}"></script>
{% endblock js %}