<!-- General success page of the application -->
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/main.min.css' %}">
{% endblock css %}

{% block content %}
<div id="success-wrapper">
	<img src="{% static 'core/images/icon-34.svg' %}" alt="suc-icon">
	<h1>Success</h1>
	<h2>{{ message|safe }}</h2>
	<a href="{{ return_link }}" class="seev-btn return-btn"><span>RETURN</span></a>
	<a href="/" class="seev-btn"><span>HOME</span></a>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'core/js/main.js' %}"></script>
{% endblock js %}