<!-- Feature configuration page -->
{% extends 'catalog/base.html' %}
{% load static %}

{% block ctgContent %}
<div class="ctg-config-wrapper">
	<!-- Feature -->
	<section class="ctg-form-sect">
		<h3>Edit Feature</h3>
		<form id="ctg-edit-fet-form" class="ctg-def-form" action="#" method="post" novalidate>
			{% csrf_token %}
			{% for field in editFetForm.hidden_fields %}
			{{ field }}
			{% endfor %}
			<div class="form-flex-row">
				{% for field in editFetForm.visible_fields %}
				<div class="ctg-ti-wrapper">
					<div class="ctg-label-wrapper">
						<label>{{ field.label }}</label>
						{% if field.field.required %}
						<span class="asterisk"> * </span>
						{% endif %}
					</div>
					{{ field }}
					<div class="form-ie-wrapper">
						<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="ctg-form-action-wrapper">
				<button id="save-fet-btn" class="ctg-action-btn save" type="submit">Save</button>
			</div>
		</form>
	</section>
	<!-- Specifications -->
	<section class="ctg-form-sect">
		<h3>Add Specification</h3>
		<em>Note: Specification code must use the format SP_FOO_BAR. Boolean value must be 0 or 1.</em>
		<form id="ctg-add-spec-form" class="ctg-def-form" action="/catalog/add-spec/" method="post" novalidate>
			{% csrf_token %}
			{% for field in addSpecForm.hidden_fields %}
			{{ field }}
			{% endfor %}
			<div class="form-flex-row">
				{% for field in addSpecForm.visible_fields %}
				<div class="ctg-ti-wrapper">
					<div class="ctg-label-wrapper">
						<label>{{ field.label }}</label>
						{% if field.field.required %}
						<span class="asterisk"> * </span>
						{% endif %}
					</div>
					{{ field }}
					<div class="form-ie-wrapper">
						<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="ctg-form-action-wrapper">
				<button id="add-spec-btn" class="ctg-action-btn add" type="submit">Add</button>
			</div>
		</form>
	</section>
	<section style="margin-bottom: 3rem;">
		<h3>List of Specifications</h3>
		{% if specs and spCount > 0 %}
		<div class="ctg-def-table">
			<div class="ctg-tb-row ctg-tb-head">
				<span>Code</span>
				<span>Configure</span>
				<span>Remove</span>
			</div>
			{% for sp in specs %}
			<div class="ctg-tb-row">
				<span class="ctg-code-cell tooltip-source">{{ sp.leaf_name }}
					<span class="tooltip-text">{{ sp.label }}</span>
				</span>
				<span><img onclick="console.log('{{ sp.ctg_doc_id }}')" src="{% static 'icon-42.svg' %}" alt="conf-icon"></span>
				<span><img onclick="rmFetSpec('{{ sp.specification_id }}')" src="{% static 'icon-43.svg' %}"
						alt="rm-icon"></span>
			</div>
			{% endfor %}
		</div>
		{% else %}
		<h4 style="font-weight: 400; font-size: 18px; color: #616161;">No active specification found.</h4>
		{% endif %}
		<!-- Remove Form -->
		<form action="/catalog/rm-spec/" id="fet-spec-rm-form" class="invisible" method="POST">
			{% csrf_token %}
			<input type="text" name="flag" id="fet-spec-rm-flag">
			<input type="text" name="specification_id" id="fet-spec-rm-field">
		</form>
	</section>
</div>
{% endblock ctgContent %}