<!-- Catalog home page -->
{% extends 'catalog/base.html' %}

{% block ctgContent %}
<div id="ctg-pr-wrapper">
	<section id="ctg-add-pr">
		<h3>Define New Product</h3>
		<em>Note: Product code must use the format PR_FOO_BAR.</em>
		<form id="ctg-add-pr-form" class="ctg-def-form" action="/catalog/add-pr/" method="post" novalidate>
			{% csrf_token %}
			{% for field in approvalForm.hidden_fields %}
			{{ field }}
			{% endfor %}
			<div class="ctg-field-box">
				{% for field in addPrForm.visible_fields %}
				<div class="ctg-ti-wrapper">
					<div class="ctg-label-wrapper">
						<label>{{ field.label }}</label>
						{% if field.field.required %}
						<span class="asterisk"> * </span>
						{% endif %}
					</div>
					{{ field }}
					<div class="form-ie-wrapper">
						<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="ctg-form-action-wrapper">
				<button id="add-pr-btn" class="ctg-action-btn add" type="submit">Add</button>
			</div>
		</form>
	</section>
	<section id="ctg-pr-list">
		<h3>Catalog Product List</h3>
		{% if products and prCount > 0 %}
		<div class="ctg-def-table">
			{% for pr in products %}
			<div class="ctg-tb-row" data-id="{{ pr.product_id }}">
				<span class="ctg-code-cell">{{ pr.itemcode }}</span>, <span>Config</span>, <span>End</span>
			</div>
			{% endfor %}
		</div>
		<div id="ctg-pr-paginator">
			{% if products.has_previous %}
			<a href="?pr_page={{ products.previous_page_number }}" class="ctg-pg-btn">Previous</a>
			{% endif %}
			{% if products.has_next %}
			<a href="?pr_page={{ products.next_page_number }}" class="ctg-pg-btn">Next</a>
			{% endif %}
		</div>
		{% else %}
		<h4>No active product definition found.</h4>
		{% endif %}
	</section>
</div>
{% endblock ctgContent %}