<!-- Catalog home page -->
{% extends 'catalog/base.html' %}
{% load static %}

{% block ctgContent %}
<div class="ctg-config-wrapper">
	<section class="ctg-form-sect">
		<h3>Define New Product</h3>
		<em>Note: Product code must use the format PR_FOO_BAR.</em>
		<form id="ctg-add-pr-form" class="ctg-def-form" action="/catalog/add-pr/" method="post" novalidate>
			{% csrf_token %}
			{% for field in addPrForm.hidden_fields %}
			{{ field }}
			{% endfor %}
			<div class="form-flex-row">
				{% for field in addPrForm.visible_fields %}
				<div class="ctg-ti-wrapper">
					<div class="ctg-label-wrapper">
						<label>{{ field.label }}</label>
						{% if field.field.required %}
						<span class="asterisk"> * </span>
						{% endif %}
					</div>
					{{ field }}
					<div class="form-ie-wrapper">
						<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="ctg-form-action-wrapper">
				<button id="add-pr-btn" class="ctg-action-btn add" type="submit">Add</button>
			</div>
		</form>
	</section>
	<section>
		<h3>Catalog Product List</h3>
		{% if products and prCount > 0 %}
		<div class="ctg-def-table">
			<div class="ctg-tb-row ctg-tb-head">
				<span>Code</span>
				<span>Configure</span>
				<span>Remove</span>
			</div>
			{% for pr in products %}
			<div class="ctg-tb-row">
				<span class="ctg-code-cell tooltip-source">{{ pr.itemcode }}
					<span class="tooltip-text">{{ pr.name }}</span>
				</span>
				<span><img onclick="goPrConfig('{{ pr.ctg_doc_id }}')" src="{% static 'icon-42.svg' %}" alt="conf-icon"></span>
				<span><img onclick="rmProduct('{{ pr.product_id }}')" src="{% static 'icon-43.svg' %}" alt="rm-icon"></span>
			</div>
			{% endfor %}
		</div>
		<div id="ctg-pr-paginator">
			{% if products.has_previous %}
			<a href="?pr_page={{ products.previous_page_number }}" class="ctg-pg-btn btn-prev">Previous</a>
			{% endif %}
			{% if products.has_next %}
			<a href="?pr_page={{ products.next_page_number }}" class="ctg-pg-btn btn-next">Next</a>
			{% endif %}
		</div>
		{% else %}
		<h4 style="font-weight: 400; font-size: 18px; color: #616161;">No active product definition found.</h4>
		{% endif %}
		<!-- Remove Form -->
		<form action="/catalog/rm-pr/" id="ctg-pr-rm-form" class="invisible" method="POST">
			{% csrf_token %}
			<input type="text" name="product_id" id="ctg-pr-rm-field">
		</form>
	</section>
</div>
{% endblock ctgContent %}