<!-- Catalog home page -->
{% extends 'catalog/base.html' %}
{% load static %}

{% block ctgContent %}
<div class="ctg-config-wrapper">
	<section class="ctg-form-sect">
		<h3>Edit Product</h3>
		<form id="ctg-edit-pr-form" class="ctg-def-form" action="/catalog/pr-chg/" method="post" novalidate>
			{% csrf_token %}
			{% for field in editPrForm.hidden_fields %}
			{{ field }}
			{% endfor %}
			<div class="form-flex-row">
				{% for field in editPrForm.visible_fields %}
				<div class="ctg-ti-wrapper">
					<div class="ctg-label-wrapper">
						<label>{{ field.label }}</label>
						{% if field.field.required %}
						<span class="asterisk"> * </span>
						{% endif %}
					</div>
					{{ field }}
					<div class="form-ie-wrapper">
						<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="ctg-form-action-wrapper">
				<button id="save-pr-btn" class="ctg-action-btn save" type="submit">Save</button>
			</div>
		</form>
	</section>
	<section class="ctg-form-sect">
		<h3>Add Specification</h3>
		<em>Note: Specification code must use the format SP_FOO_BAR. Boolean value must be 0 or 1.</em>
		<form id="ctg-add-spec-form" class="ctg-def-form" action="/catalog/add-spec/" method="post" novalidate>
			{% csrf_token %}
			{% for field in addSpecForm.hidden_fields %}
			{{ field }}
			{% endfor %}
			<div class="form-flex-row">
				{% for field in addSpecForm.visible_fields %}
				<div class="ctg-ti-wrapper">
					<div class="ctg-label-wrapper">
						<label>{{ field.label }}</label>
						{% if field.field.required %}
						<span class="asterisk"> * </span>
						{% endif %}
					</div>
					{{ field }}
					<div class="form-ie-wrapper">
						<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="ctg-form-action-wrapper">
				<button id="add-spec-btn" class="ctg-action-btn add" type="submit">Add</button>
			</div>
		</form>
	</section>
	<section class="ctg-form-sect">
		<h3>Add Feature</h3>
		<em>Note: Feature code must use the format FET_FOO_BAR. They must also be unique across a business.</em>
		<form id="ctg-add-fet-form" class="ctg-def-form" action="#" method="post" novalidate>
			{% csrf_token %}
			{% for field in addFetForm.hidden_fields %}
			{{ field }}
			{% endfor %}
			<div class="form-flex-row">
				{% for field in addFetForm.visible_fields %}
				<div class="ctg-ti-wrapper">
					<div class="ctg-label-wrapper">
						{% if field.label == "Extended Only" %}
						<label>{{ field.label }} <em style="color: #0D47A1; display: inline">(Beta)</em></label>
						{% else %}
						<label>{{ field.label }}</label>
						{% endif %}
						{% if field.field.required %}
						<span class="asterisk"> * </span>
						{% endif %}
					</div>
					{{ field }}
					<div class="form-ie-wrapper">
						<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="ctg-form-action-wrapper">
				<button id="add-fet-btn" class="ctg-action-btn add" type="submit">Add</button>
			</div>
		</form>
	</section>
</div>
{% endblock ctgContent %}