<!-- Catalog home page -->
{% extends 'catalog/base.html' %}
{% load static %}

{% block ctgContent %}
<div class="ctg-config-wrapper">
	<section class="ctg-form-sect">
		<h3>Edit Product</h3>
		<form id="ctg-edit-pr-form" class="ctg-def-form" action="#" method="post" novalidate>
			{% csrf_token %}
			{% for field in editPrForm.hidden_fields %}
			{{ field }}
			{% endfor %}
			<div class="form-flex-row">
				{% for field in editPrForm.visible_fields %}
				<div class="ctg-ti-wrapper">
					<div class="ctg-label-wrapper">
						<label>{{ field.label }}</label>
						{% if field.field.required %}
						<span class="asterisk"> * </span>
						{% endif %}
					</div>
					{{ field }}
					<div class="form-ie-wrapper">
						<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="ctg-form-action-wrapper">
				<button id="save-pr-btn" class="ctg-action-btn save" type="submit">Save</button>
			</div>
		</form>
	</section>
	<section class="ctg-form-sect">
		<h3>Add Specification</h3>
		<em>Note: Specification code must use the format SP_FOO_BAR.</em>
	</section>
	<section class="ctg-form-sect">
		<h3>Add Feature</h3>
		<em>Note: Feature code must use the format FET_FOO_BAR.</em>
	</section>
</div>
{% endblock ctgContent %}