<!-- Specification configuration page -->
{% extends 'catalog/base.html' %}
{% load static %}

{% block ctgContent %}
<div class="ctg-config-wrapper">
	<!-- Specification -->
	<section class="ctg-form-sect">
		<h3>Edit Specification</h3>
		<form id="ctg-edit-spec-form" class="ctg-def-form" action="/catalog/sp-chg/" method="post" novalidate>
			{% csrf_token %}
			{% for field in editSpecForm.hidden_fields %}
			{{ field }}
			{% endfor %}
			<div class="form-flex-row">
				{% for field in editSpecForm.visible_fields %}
				<div class="ctg-ti-wrapper">
					<div class="ctg-label-wrapper">
						<label>{{ field.label }}</label>
						{% if field.field.required %}
						<span class="asterisk"> * </span>
						{% endif %}
					</div>
					{{ field }}
					<div class="form-ie-wrapper">
						<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="ctg-form-action-wrapper">
				<button id="save-spec-btn" class="ctg-action-btn save" type="submit">Save</button>
			</div>
		</form>
	</section>
	<!-- Codes -->
	{% if specification.data_type == 'ENUM' %}
	<section class="ctg-form-sect">
		<h3>Add Enumeration</h3>
		<form id="ctg-add-value-form" class="ctg-def-form" action="/catalog/add-val/" method="post" novalidate>
			{% csrf_token %}
			{% for field in addValueForm.hidden_fields %}
			{{ field }}
			{% endfor %}
			<div class="form-flex-row">
				{% for field in addValueForm.visible_fields %}
				<div class="ctg-ti-wrapper">
					<div class="ctg-label-wrapper">
						<label>{{ field.label }}</label>
						{% if field.field.required %}
						<span class="asterisk"> * </span>
						{% endif %}
					</div>
					{{ field }}
					<div class="form-ie-wrapper">
						<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="ctg-form-action-wrapper">
				<button id="save-enum-btn" class="ctg-action-btn add" type="submit">Add</button>
			</div>
		</form>
	</section>
	<section style="margin-bottom: 4.5rem;">
		<h3>Enumeration Table</h3>
		{% if values and valCount > 0 %}
		<div id="ctg-value-table" class="ctg-def-table">
			<div class="ctg-tb-row ctg-tb-head">
				<span class="regular">Code</span>
				<span class="major">Translation</span>
				<span>Remove</span>
			</div>
			{% for val in values %}
			<div class="ctg-tb-row">
				<span class="ctg-code-cell regular">{{ val.code }}</span>
				<span class="ctg-code-cell major">{{ val.translation }}</span>
				<span><img onclick="console.log('{{ val.value_id }}')" src="{% static 'icon-44.svg' %}" alt="rm-icon"></span>
			</div>
			{% endfor %}
		</div>
		{% else %}
		<h4 style="font-weight: 400; font-size: 18px; color: #616161;">No value definition found.</h4>
		{% endif %}
	</section>
	{% endif %}
	<!-- Restrictions -->
	{% if specification.data_type == 'STR' or specification.data_type == 'QTY' %}
	<section style="margin-bottom: 4.5rem;" class="ctg-form-sect">
		<h3>Configure Rules</h3>
		<form id="ctg-conf-rule-form" class="ctg-def-form" action="/catalog/save-res/" method="post" novalidate>
			{% csrf_token %}
			{% for field in resForm.hidden_fields %}
			{{ field }}
			{% endfor %}
			<div class="form-flex-row">
				{% for field in resForm.visible_fields %}
				<div class="ctg-ti-wrapper">
					<div class="ctg-label-wrapper">
						<label>{{ field.label }}</label>
						{% if field.field.required %}
						<span class="asterisk"> * </span>
						{% endif %}
					</div>
					{{ field }}
					<div class="form-ie-wrapper">
						<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="ctg-form-action-wrapper">
				<button id="upd-res-btn" class="ctg-action-btn update" type="submit">Update</button>
			</div>
		</form>
	</section>
	{% endif %}
	<!-- Price -->
	<section class="ctg-form-sect">
		<h3>Configure Pricing</h3>
		<form id="ctg-conf-pri-form" class="ctg-def-form" action="#" method="post" novalidate>
			{% csrf_token %}
			{% for field in priceForm.hidden_fields %}
			{{ field }}
			{% endfor %}
			<div class="form-flex-row">
				{% for field in priceForm.visible_fields %}
				<div class="ctg-ti-wrapper">
					<div class="ctg-label-wrapper">
						<label>{{ field.label }}</label>
						{% if field.field.required %}
						<span class="asterisk"> * </span>
						{% endif %}
					</div>
					{{ field }}
					<div class="form-ie-wrapper">
						<span id="ie_{{ field.name }}" class="ie-msg"></span><span class="invisible">I</span>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="ctg-form-action-wrapper">
				<button id="upd-price-btn" class="ctg-action-btn update-2" type="submit">Update</button>
			</div>
		</form>
	</section>
</div>
{% endblock ctgContent %}