// Catalog app styles
@import "../../../../../resources/scss/theme.scss";
@import "../../../../../resources/scss/media.scss";

$field-wrapper-width-default: 30rem;
$field-wrapper-margin-x: 2rem;
$field-wrapper-margin-y: 1rem;

#ctg-main-wrapper {
  padding: 2rem 4rem 5rem 2rem;
  & > div:nth-child(2) {
    min-height: 50vh;
  }
  @include tablet {
    padding: 2rem 2.5rem 5rem 2.5rem;
  }
  @include mobile {
    padding: 2rem 1.25rem 5rem 1.25rem;
  }
}

#ctg-base-header {
  user-select: none;
  padding: 1rem 0 1.5rem 4rem;
  h1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-family: "Nunito", sans-serif;
    color: #d32f2f;
    font-size: 36px;
    margin-bottom: 2rem;
    img {
      cursor: pointer;
      display: inline-block;
      width: 60px;
      height: 60px;
      margin-right: 1rem;
    }
  }
  h2 {
    font-size: 26px;
    font-family: "Nunito", sans-serif;
    color: #b71c1c;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 2.75em;
    border: #b71c1c 6px double;
  }
  @include tablet {
    padding: 1rem;
    text-align: center;
    h1 {
      font-size: 30px;
      justify-content: center;
      span,
      img {
        margin: 0 0.5rem;
      }
    }
    h2 {
      font-size: 22px;
    }
  }
}

#ctg-base-end {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    margin: 0 1.5rem;
  }
  @include mobile {
    flex-flow: column wrap;
    a {
      margin: 1rem 0;
    }
  }
}

#ctg-return-link {
  display: inline-block;
  margin-top: 1.5rem;
  img {
    display: inline-block;
    width: 60px;
    height: 60px;
  }
}

.ctg-config-wrapper {
  padding: 2rem 4rem;
  section {
    padding: 0 0 0 2rem;
    h3 {
      font-size: 24px;
      margin: 0 0 2rem 0;
      color: #424242;
    }
  }
  @include tablet {
    padding: 2rem 2rem;
    section {
      padding: 0 1rem 0 1rem;
      h3 {
        text-align: center;
        font-size: 22px;
      }
    }
  }
  @include mobile {
    padding: 2rem 1rem;
    section {
      padding: 0;
    }
  }
}

.ctg-def-form {
  z-index: 1;
  margin-top: 2.5rem;
  padding: 2rem 1rem 1.5rem 1rem;
  background-color: #eeeef5;
  border-radius: 8px;
  & > div:nth-last-child(2) {
    margin-bottom: 1.75rem;
  }
  .form-flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .form-block-row {
    display: block;
  }
}

.ctg-form-action-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0.75rem 1.5rem 0 0;
  & > button:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.ctg-ti-wrapper {
  input,
  select {
    background-color: #f5f5fa;
    width: 100%;
    height: 3em;
    outline: 0;
    padding: 0.5rem 0.75rem;
    font-family: "Comfortaa", cursive;
    border-radius: 2px;
    &:focus {
      box-shadow: inset 0 1px 2px rgba(#212142, 0.075), 0 0 0 0.2em rgba(#616175, 0.3);
    }
    &:focus:not(input) {
      box-shadow: inset 0 1px 2px rgba(#0d47a1, 0.075), 0 0 0 0.2em rgba(#1976d2, 0.3);
    }
  }
  select {
    z-index: 2;
  }
}

.ctg-label-wrapper {
  font-family: "Titillium Web", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #212121;
  margin: 0 0 0.5rem 0;
}

.ctg-action-btn {
  cursor: pointer;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  color: white;
  padding: 0.5rem 1rem;
  width: 6rem;
  height: 32px;
  background-color: #000000;
  border: none;
  border-radius: 4px;
  &:hover {
    opacity: 0.9;
  }
  &.add {
    background-color: #0d47a1;
  }
  &.save {
    background-color: #43a047;
  }
  &.update {
    background-color: #e91e63;
  }
  &.update-2 {
    color: #000000;
    background-color: #ffd600;
  }
  &.base {
    background-color: #607d8b;
  }
}

.ctg-def-table {
  span:not(.ctg-code-cell) {
    user-select: none;
  }
  background-color: #f5f5f5;
  padding: 2.5rem 6rem 4rem 6rem;
  margin: 3rem auto 2rem auto;
  box-shadow: 4px 4px 16px 0px rgba(97, 97, 97, 0.5);
  border-radius: 0.25rem;
  font-family: "Share Tech Mono", monospace;
  @include tablet {
    padding: 2.5rem 3rem 4rem 3rem;
  }
  @include mobile {
    padding: 2.5rem 1rem 4rem 1rem;
  }
}

.ctg-tb-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 1px solid #757575;
  &:nth-child(even) {
    background-color: #e0e0e0;
  }
  & > span:not(.tooltip-text) {
    flex: 1 1 20%;
    padding: 1.25rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
      flex: 1 1 30%;
    }
    @include mobile {
      flex: 1 1 33%;
    }
    &:first-child {
      word-break: break-all;
      padding-left: 2.5rem;
      flex: 1 1 60%;
      text-align: left;
      justify-content: flex-start;
      @include tablet {
        flex: 1 1 40%;
        padding-left: 1.5rem;
      }
      @include mobile {
        flex: 1 1 34%;
      }
    }
    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
  &.ctg-tb-head {
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #c62828;
    @include tablet {
      font-size: 16px;
    }
  }
}

.ctg-pg-btn {
  user-select: none;
  display: block;
  width: 6rem;
  color: white;
  background-color: #616175;
  text-align: center;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    color: white;
    opacity: 0.9;
  }
  &.btn-prev {
    margin-right: auto;
  }
  &.btn-next {
    margin-left: auto;
  }
}

section.ctg-form-sect {
  margin: 0 0 4.5rem 0;
  h3 {
    margin-bottom: 1rem;
  }
  em {
    display: block;
    color: #dd2c00;
    font-size: 14px;
    @include tablet {
      text-align: center;
    }
  }
}

#ctg-pr-paginator {
  margin-bottom: 2rem;
  display: flex;
}

#ctg-add-pr-form,
#ctg-edit-pr-form,
#ctg-add-spec-form,
#ctg-add-fet-form,
#ctg-edit-fet-form,
#ctg-edit-spec-form,
#ctg-add-value-form,
#ctg-conf-rule-form,
#ctg-conf-pri-form {
  .form-flex-row {
    & > * {
      width: $field-wrapper-width-default;
      margin: $field-wrapper-margin-y $field-wrapper-margin-x;
    }
  }
}

#ctg-conf-rule-form {
  background-color: #fbe9e7;
}

#ctg-conf-pri-form {
  background-color: #fff8e1;
}

#ctg-value-table {
  .ctg-tb-row {
    .regular {
      flex: 1 1 40%;
      @include tablet {
        flex: 1 1 35%;
      }
      @include mobile {
        flex: 1 1 33%;
      }
    }
    .major {
      flex: 1 1 40%;
      display: inline-block;
      text-align: left;
      @include tablet {
        flex: 1 1 35%;
      }
      @include mobile {
        flex: 1 1 34%;
      }
    }
  }
}
