// For global styles
@import "./theme.scss";
@import "./media.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: 0 !important;
  }
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover,
  :visited {
    color: inherit;
    text-decoration: none;
  }
}

form {
  *:not(input) {
    user-select: none;
  }
}

#content-wrapper {
  width: 100%;
  flex: 1 1 auto;
}

.no-show {
  display: none;
}

.show {
  display: initial;
}

.form-title {
  user-select: none;
  padding: 0.5rem 0 1rem 0;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  @include mobile {
    font-size: 46px;
  }
}

.form-alt-text {
  margin-bottom: -2rem;
  font-size: 20px;
  text-align: center;
  .fat-text {
  }
  .fat-action {
    text-decoration: underline;
  }
}

.asterisk {
  color: #f44336;
}

.form-sub-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -1rem;
  @include mobile {
    font-size: 24px;
  }
}

.form-ti-wrapper {
  margin-bottom: 2rem;
  input {
    width: 100%;
    padding: 1.25rem 1.5rem 1rem 1.5rem;
    font-size: 18px;
    font-family: "Comfortaa", cursive;
    border: 1px #9e9e9e solid;
    border-radius: 4px;
    @include mobile {
      font-size: 16px;
      padding: 1.2rem 1.5rem 1rem 1.5rem;
    }
  }
}

.form-label-wrapper {
  font-size: 20px;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  color: #616161;
  @include mobile {
    font-size: 18px;
  }
}

.form-ie-wrapper {
  padding-left: 0.5rem;
  font-size: 14px;
  color: $warn;
  margin-top: 0.5rem;
  @include mobile {
    font-size: 12px;
  }
}

.form-action-wrapper {
  margin-top: 3rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

.form-action-btn {
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 0.75rem 2rem;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-bottom: 1.5rem;
  width: 280px;
  border-radius: 6px;
  @include mobile {
    width: 220px;
    font-size: 18px;
  }
  @include small {
    width: 180px;
  }
  &.reset-btn {
    background-color: #757575;
  }
  &:hover {
    opacity: 0.9;
  }
}

.font-rob {
  font-family: "Roboto", sans-serif;
}

.font-mont {
  font-family: "Montserrat", sans-serif;
}

.font-tweb {
  font-family: "Titillium Web", sans-serif;
}

.font-brand {
  font-family: "Cinzel Decorative", cursive;
}

.font-hero {
  font-family: "Racing Sans One", cursive;
}

.font-nuni {
  font-family: "Nunito", sans-serif;
}

.font-type {
  font-family: "Comfortaa", cursive;
}

.font-title {
  font-family: "Righteous", cursive;
}
