// For global styles
@import "./theme.scss";
@import "./media.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: 0;
  }
}

img {
  user-select: none !important;
}

input {
  border-style: solid;
  border-width: 1px;
  border-color: #9e9e9e;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover,
  :visited {
    color: inherit;
    text-decoration: none;
  }
}

form {
  & > *:not(input):not(.ord-panel-row) {
    user-select: none;
  }
  display: block;
}

#content-wrapper {
  width: 100%;
  flex: 1 1 auto;
}

.imp-num {
  color: #f44336;
  font-weight: 600;
}

.no-show {
  display: none !important;
}

.show {
  display: initial;
}

.invisible {
  visibility: hidden !important;
}

.visible {
  visibility: visible;
}

.no-size {
  transform: scale(0) !important;
}

.normal-size {
  transform: scale(1) !important;
}

#snack-data {
  display: none;
  opacity: 0;
}

.no-scroll-bar {
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.black-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  left: 0;
  top: 0;
}

.seev-popup {
  z-index: 10;
  display: block;
  position: fixed;
  max-height: 90vh;
  max-width: 90vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 6px;
  @include mobile {
    text-align: center;
  }
}

.popup-head {
  user-select: none;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  text-align: right;
  img {
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
}

.popup-title {
  user-select: none;
  margin: 3rem 0 1rem;
  font-size: 28px;
  font-weight: bold;
  @include mobile {
    font-size: 24px;
  }
}

.popup-subtitle {
  font-size: 20px;
  color: #424242;
  line-height: 1.25;
  margin-bottom: 2rem;
  @include mobile {
    font-size: 18px;
  }
}

.seev-btn {
  user-select: none;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  height: 48px;
  width: 10em;
  padding: 0.25rem 0.5rem;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 24px;
  box-shadow: 0 2px 6px 0 #424242;
  &:hover,
  &:visited {
    color: white;
  }
}

.seev-btn-outline {
  user-select: none;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: black;
  height: 48px;
  padding: 0.25rem 0.5rem;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 24px;
  width: 10em;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

.large-btn {
  width: 14em;
}

.logout-btn {
  background-color: #bf360c;
}

.exit-btn {
  background-color: #757575;
}

.back-btn {
  background-color: #607d8b;
}

.btn-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon {
  width: 20px;
  height: 20px;
}

.seev-radio-outer {
  display: inline-flex;
  height: 20px;
  width: 20px;
  background-color: #e0e0e0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  &:hover {
    opacity: 0.9;
  }
  .seev-radio-inner {
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: #212121;
    border-radius: 50%;
  }
}

#gsb {
  user-select: none;
  z-index: 100;
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  padding: 0.75rem 1.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  box-shadow: 0 3px 16px -1px #232323;
  border-radius: 3px;
  transition-property: visibility;
  transition-duration: 0.1s;
  @include mobile {
    width: 334px;
  }
  #sb-msg {
    cursor: default;
    color: white;
    @include mobile {
      font-size: 14px;
    }
  }
  #sb-act {
    font-family: "Titillium Web", sans-serif;
    color: #ffc107;
    cursor: pointer;
    font-size: 18px;
    @include mobile {
      font-size: 16px;
    }
  }
}

.form-title {
  user-select: none;
  padding: 0.5rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  @include mobile {
    font-size: 44px;
  }
}

.form-alt-text {
  margin-bottom: -2rem;
  font-size: 20px;
  text-align: center;
  .fat-text {
  }
  .fat-action {
    text-decoration: underline;
  }
}

.asterisk {
  color: #f44336;
}

.seev-close {
  user-select: none;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  &:hover {
    cursor: pointer;
  }
}

.seev-switch {
  user-select: none;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  &:hover {
    cursor: pointer;
  }
}

.form-sub-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -1rem;
  @include mobile {
    font-size: 24px;
  }
}

.form-ti-wrapper {
  margin-bottom: 1.75rem;
  input,
  select,
  textarea {
    width: 100%;
    padding: 1.25rem 1.5rem 1rem 1.5rem;
    font-size: 18px;
    font-family: "Comfortaa", cursive;
    border: 1px #9e9e9e solid;
    border-radius: 4px;
    @include mobile {
      font-size: 16px;
      padding: 1.2rem 1.5rem 1rem 1.5rem;
    }
  }
  textarea {
    resize: none;
  }
}

.form-label-wrapper {
  font-size: 20px;
  margin-bottom: 0.75rem;
  padding-left: 0.5rem;
  color: #616161;
  @include mobile {
    font-size: 18px;
  }
}

.form-ie-wrapper {
  overflow: hidden;
  padding-left: 0.5rem;
  font-size: 14px;
  color: $warn;
  margin-top: 0.5rem;
  @include mobile {
    font-size: 12px;
  }
}

.ie-msg {
  display: inline-block;
  transition-duration: 0.4s;
  &.ie-hide-up {
    transform: translateY(-1.2em);
  }
}

.form-action-wrapper {
  margin-top: 3rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

.form-action-btn {
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 0.75rem 2rem;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-bottom: 1.5rem;
  width: 280px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 #bdbdbd;
  font-family: "Noto Sans", sans-serif;
  transition-duration: 0.25s;
  @include mobile {
    width: 220px;
    font-size: 18px;
  }
  @include small {
    width: 180px;
  }
  &.reset-btn {
    background-color: white;
    color: #616161;
  }
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.9;
    box-shadow: 0 5px 12px 0 #9e9e9e;
    transition-duration: 0.3s;
  }
}

.form-inp-dis {
  background-color: #eeeeee !important;
}

.form-btn-dis {
  opacity: 1 !important;
  cursor: default !important;
  background-color: rgba($color: #000000, $alpha: 0.15) !important;
  color: rgba($color: #000000, $alpha: 0.3) !important;
  box-shadow: none !important;
  img {
    opacity: 0.3;
  }
  &:hover {
    opacity: 1 !important;
  }
}

input[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  opacity: 0;
  display: block;
}

input[type="file"] + label.form-inp-label {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  display: block;
  width: 100%;
  color: white;
  text-align: center;
  padding: 0.75rem;
  margin: 1rem 0 1rem 0.5rem;
  border-radius: 23.2px;
  width: 45%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.25s;
  &:hover {
    transition-property: background-color;
    transition-duration: 0.25s;
  }
  @include mobile {
    width: 60%;
  }
}

.tooltip-source {
  display: inline-block;
  position: relative;
  .tooltip-text {
    user-select: none;
    position: absolute;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #555555;
    padding: 0.75rem 1rem;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transition-property: opacity;
    transition-duration: 0.65s;
    top: -1.6rem;
    left: 0%;
    border-radius: 4px;
    word-break: normal;
    white-space: nowrap;
  }
  &:hover {
    .tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }
}

.ord-search-btn {
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: white;
  font-size: 22px;
  width: 12rem;
  height: 48px;
  border: none;
  border-radius: 6px;
  @include tablet {
    width: 14rem;
  }
  @include mobile {
    width: 12rem;
    font-size: 18px;
  }
}

.font-rob {
  font-family: "Roboto", sans-serif;
}

.font-mont {
  font-family: "Montserrat", sans-serif;
}

.font-tweb {
  font-family: "Titillium Web", sans-serif;
}

.font-brand {
  font-family: "Cinzel Decorative", cursive;
}

.font-hero {
  font-family: "Racing Sans One", cursive;
}

.font-nuni {
  font-family: "Nunito", sans-serif;
}

.font-type {
  font-family: "Comfortaa", cursive;
}

.font-title {
  font-family: "Righteous", cursive;
}

.font-btn {
  font-family: "Noto Sans", sans-serif;
}

.font-data {
  font-family: "Share Tech Mono", monospace;
}
