// For theme variables
$warn: #e65100;
$core-primary: #9c27b0;
$core-accent: #009688;

// Remove number input spinner
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
input[type="number"] {
  -moz-appearance: textfield !important;
}
