// Order app styles
@import "../../../../../resources/scss/theme.scss";
@import "../../../../../resources/scss/media.scss";

$banner-shift: 3rem;
$banner-shift-sm: 1.5rem;
$banner-shift-ty: 0.5rem;

#ord-main-wrapper {
  min-height: 60vh;
  margin-top: 6rem;
  margin-bottom: 6rem;
  @include mobile {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

#ord-home-wrapper {
  & > section {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.ord-banner {
  user-select: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  max-width: 95%;
  @include mobile {
    justify-content: space-evenly;
    height: 140px;
  }
  &#oppo-banner {
    transform: translateX($banner-shift);
    padding-left: 2rem;
    background: linear-gradient(to right, #d50000, #ec407a);
    clip-path: polygon(94% 0, 100% 50%, 94% 100%, 0% 100%, 6% 50%, 0% 0%);
    @include laptop {
      transform: translateX($banner-shift-sm);
    }
    @include mobile {
      transform: translateX($banner-shift-ty);
    }
  }
  &#ord-banner {
    transform: translateX(-$banner-shift);
    padding-right: 2rem;
    flex-flow: row-reverse wrap;
    background: linear-gradient(to right, #8bc34a, #2e7d32);
    clip-path: polygon(100% 0%, 94% 50%, 100% 100%, 6% 100%, 0% 50%, 6% 0);
    @include laptop {
      transform: translateX(-$banner-shift-sm);
    }
    @include mobile {
      transform: translateX(-$banner-shift-ty);
    }
  }
  .banner-title {
    width: 150px;
    font-size: 48px;
    font-family: "Racing Sans One", cursive;
    @include laptop {
      width: 120px;
      font-size: 42px;
    }
    @include tablet {
      width: 100px;
      font-size: 36px;
    }
    @include mobile {
      width: 120px;
      font-size: 42px;
    }
  }
  .banner-content {
    width: 40%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: 0 4rem;
    @include laptop {
      font-size: 18px;
    }
    @include tablet {
      font-size: 16px;
      margin: 0 2.5rem;
    }
    @include mobile {
      display: none;
    }
  }
  .banner-img {
    img {
      height: 72px;
      width: 72px;
      @include laptop {
        height: 60px;
        width: 60px;
      }
      @include tablet {
        height: 48px;
        width: 48px;
      }
      @include mobile {
        height: 60px;
        width: 60px;
      }
    }
  }
}

.ord-home-sf {
  padding: 1.5rem 2.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  @include tablet {
    flex-flow: column wrap;
  }
  .ord-home-field-wrapper {
    padding: 0.5rem 0;
    width: 40%;
    margin-right: 2rem;
    @include laptop {
      width: 50%;
    }
    @include tablet {
      margin-right: 0;
      margin-bottom: 2rem;
      width: 70%;
    }
    @include mobile {
      width: 85%;
    }
    .ord-search-ti {
      display: block;
      width: 100%;
      padding: 1rem 2rem;
      background-color: #f5f5f5;
      font-family: "Comfortaa", cursive;
      font-size: 20px;
      height: 60px;
      border-radius: 30px;
      @include tablet {
        text-align: center;
      }
      @include mobile {
        font-size: 18px;
      }
    }
  }
}

.ord-home-panel {
  margin: 1rem auto;
  padding: 1rem;
  color: white;
  .oppo-panel-inner-head-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 2.5rem 0;
    .panel-name-head {
      font-family: "Nunito", sans-serif;
      font-size: 24px;
      font-weight: 600;
    }
    .panel-head-img {
      img {
        width: 64px;
        height: 64px;
      }
    }
  }
  .oppo-panel-inner-row {
    margin: 0.75rem 0;
    font-size: 18px;
    .panel-row-head {
      display: inline-block;
      width: 30%;
    }
    .panel-row-body {
      display: inline-block;
    }
  }
}

.ord-panel-btn {
  cursor: pointer;
  background-color: #e53935;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 10rem;
  height: 42px;
  border: none;
  box-shadow: 0 20px 16px -16px #c62828;
  border-radius: 4px;
  transition-duration: 0.25s;
  &:hover {
    opacity: 0.95;
  }
  &:active {
    box-shadow: 0 20px 16px -19px #c62828;
    transform: translateY(3px);
    transition-duration: 0.25s;
  }
}

.order-icon-btn {
  user-select: none;
  cursor: pointer;
  padding: 0.6rem 1rem;
  background-color: white;
  border: none;
  border-radius: 4px;
  width: 10rem;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  & > span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    & > * {
      display: inline-block;
      margin: 0 0.25rem;
    }
  }
  img {
    height: 30px;
    width: 30px;
  }
}

#oppo-sect {
  margin-bottom: 4.5rem;
}

#oppo-search-form {
  margin: 2rem auto 1rem auto;
  .ord-search-ti {
    border: 3px solid #e91e63;
  }
  #oppo-search-btn {
    background-color: #d32f2f;
  }
}

#ord-search-form {
  margin: 2rem auto 1rem auto;
  .ord-search-ti {
    border: 3px solid #7cb342;
  }
  #ord-search-btn {
    background-color: #43a047;
  }
}

#oppo-detail-panel {
  color: white;
  #oppo-panel-header {
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    color: #424242;
    font-size: 24px;
    margin-bottom: 3rem;
    & > div:first-child {
      color: #b71c1c;
      margin-bottom: 0.25rem;
    }
  }
  #oppo-panel-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    @include tablet {
      flex-flow: column wrap;
      justify-content: center;
    }
    & > div {
      border-radius: 12px;
      padding: 1.5rem 2.5rem;
      height: 430px;
    }
    #oppo-panel-client {
      background-color: #ec407a;
      width: 42%;
      margin-right: 1rem;
      @include laptop {
        width: 47%;
      }
      @include tablet {
        width: 80%;
        margin-right: 0;
        margin-bottom: 1rem;
      }
      @include mobile {
        width: 90%;
      }
    }
    #oppo-panel-cust {
      background-color: #f44336;
      width: 42%;
      margin-left: 1rem;
      @include laptop {
        width: 47%;
      }
      @include tablet {
        width: 80%;
        margin-left: 0;
        margin-top: 1rem;
      }
      @include mobile {
        width: 90%;
      }
    }
  }
  #oppo-panel-footer {
    margin: 3rem 0 1rem 0;
    padding: 0 1rem 0 0;
    text-align: center;
  }
}

#oppo-popup {
  background-color: #f5f5f5;
  width: 650px;
  height: 750px;
  & > div:not(.popup-head) {
    padding: 0.5rem 3rem;
    @include tablet {
      padding: 0.5rem 1rem;
    }
    @include mobile {
      padding: 0.5rem 0.5rem;
    }
  }
}

#oppo-pop-form {
  margin-top: -1rem;
  & > * {
    display: block;
    margin: 1.5rem 0;
  }
  input {
    display: block;
    width: 100%;
    background-color: #e0e0e0;
    padding: 19px 2rem;
    font-family: "Comfortaa", cursive;
    font-size: 20px;
    border: none;
    border-radius: 30.5px;
  }
  #oppo-radio-row {
    margin: 2.5rem 0 3.5rem;
    display: flex;
    align-items: center;
    font-size: 18px;
    @include mobile {
      font-size: 16px;
    }
  }
}

#oppo-create-btn {
  height: 61px;
  width: 100%;
  border-radius: 30.5px;
  .btn-icon-wrapper {
    & > * {
      margin: 0 0.4rem;
    }
  }
  .btn-icon {
    width: 27px;
    height: 27px;
  }
}

#ord-header-wrapper {
  font-size: 28px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  padding: 1.5rem 3rem;
  color: white;
  background-color: rgba($color: #232f3e, $alpha: 0.95);
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
  #order-name {
    margin-top: 0.5rem;
  }
  @include laptop {
    font-size: 24px;
  }
  @include tablet {
    text-align: center;
    font-size: 22px;
    padding: 1.5rem;
  }
  @include mobile {
    font-size: 18px;
    width: 90%;
  }
}

#ord-header-action-wrapper {
  margin: 2rem 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  & > button {
    width: 16rem;
    @include laptop {
      width: 14rem;
    }
    @include tablet {
      width: 22rem;
      margin: 0.5rem 0;
    }
    @include mobile {
      width: 18rem;
    }
  }
  @include tablet {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
