// Order app styles
@import "../../../../../resources/scss/theme.scss";
@import "../../../../../resources/scss/media.scss";

$banner-shift: 3rem;
$banner-shift-sm: 1.5rem;
$banner-shift-ty: 0.5rem;

$frame-size-large: 700px;
$frame-size-ex-large: 800px;
$frame-size-medium: 525px;
$frame-size-small: 440px;

#map {
  width: 100%;
  height: 800px;
  max-height: 85vw;
}

#ord-main-wrapper {
  min-height: 60vh;
  margin-top: 6rem;
  margin-bottom: 6rem;
  @include mobile {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

#ord-home-wrapper {
  & > section {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.ord-config-title {
  color: #212121;
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  font-family: "Original Surfer", cursive;
  @include tablet {
    text-align: center;
    font-size: 26px;
  }
}

.ord-config-subtitle {
  margin-left: 1rem;
  font-weight: 500;
  font-size: 26px;
  font-family: "Titillium Web", sans-serif;
  @include tablet {
    margin: 0;
    font-size: 24px;
    text-align: center;
  }
  @include mobile {
    font-size: 22px;
  }
}

.ord-pri-btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.65rem 0;
  text-align: center;
  border-radius: 4px;
  color: white;
  border: none;
  font-size: 20px;
  background-color: black;
  font-family: "Noto Sans", sans-serif;
  &:hover {
    opacity: 0.9;
  }
}

.ord-banner {
  user-select: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  max-width: 95%;
  @include mobile {
    justify-content: space-evenly;
    height: 140px;
  }
  &#oppo-banner {
    transform: translateX($banner-shift);
    padding-left: 2rem;
    background: linear-gradient(to right, #d50000, #ec407a);
    clip-path: polygon(94% 0, 100% 50%, 94% 100%, 0% 100%, 6% 50%, 0% 0%);
    @include laptop {
      transform: translateX($banner-shift-sm);
    }
    @include mobile {
      transform: translateX($banner-shift-ty);
    }
  }
  &#ord-banner {
    transform: translateX(-$banner-shift);
    padding-right: 2rem;
    flex-flow: row-reverse wrap;
    background: linear-gradient(to right, #8bc34a, #2e7d32);
    clip-path: polygon(100% 0%, 94% 50%, 100% 100%, 6% 100%, 0% 50%, 6% 0);
    @include laptop {
      transform: translateX(-$banner-shift-sm);
    }
    @include mobile {
      transform: translateX(-$banner-shift-ty);
    }
  }
  .banner-title {
    width: 150px;
    font-size: 48px;
    font-family: "Racing Sans One", cursive;
    @include laptop {
      width: 120px;
      font-size: 42px;
    }
    @include tablet {
      width: 100px;
      font-size: 36px;
    }
    @include mobile {
      width: 120px;
      font-size: 42px;
    }
  }
  .banner-content {
    width: 40%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: 0 4rem;
    @include laptop {
      font-size: 18px;
    }
    @include tablet {
      font-size: 16px;
      margin: 0 2.5rem;
    }
    @include mobile {
      display: none;
    }
  }
  .banner-img {
    img {
      height: 72px;
      width: 72px;
      @include laptop {
        height: 60px;
        width: 60px;
      }
      @include tablet {
        height: 48px;
        width: 48px;
      }
      @include mobile {
        height: 60px;
        width: 60px;
      }
    }
  }
}

.ord-home-sf {
  padding: 1.5rem 2.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  @include tablet {
    flex-flow: column wrap;
  }
  .ord-home-field-wrapper {
    padding: 0.5rem 0;
    width: 40%;
    margin-right: 2rem;
    @include laptop {
      width: 50%;
    }
    @include tablet {
      margin-right: 0;
      margin-bottom: 2rem;
      width: 70%;
    }
    @include mobile {
      width: 85%;
    }
    .ord-search-ti {
      display: block;
      width: 100%;
      padding: 1rem 2rem;
      background-color: #f5f5f5;
      font-family: "Comfortaa", cursive;
      font-size: 20px;
      height: 60px;
      border-radius: 30px;
      @include tablet {
        text-align: center;
      }
      @include mobile {
        font-size: 18px;
      }
    }
  }
}

.ord-home-panel {
  margin: 1rem auto;
  padding: 1rem;
  color: white;
  .oppo-panel-inner-head-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 2.5rem 0;
    .panel-name-head {
      font-family: "Nunito", sans-serif;
      font-size: 24px;
      font-weight: 600;
    }
    .panel-head-img {
      img {
        width: 64px;
        height: 64px;
      }
    }
  }
  .oppo-panel-inner-row {
    margin: 0.75rem 0;
    font-size: 18px;
    .panel-row-head {
      display: inline-block;
      width: 30%;
    }
    .panel-row-body {
      display: inline-block;
    }
  }
}

.ord-panel-btn {
  cursor: pointer;
  background-color: #e53935;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 10rem;
  height: 42px;
  border: none;
  box-shadow: 0 20px 16px -16px #c62828;
  border-radius: 4px;
  transition-duration: 0.25s;
  &:hover {
    opacity: 0.95;
  }
  &:active {
    box-shadow: 0 20px 16px -19px #c62828;
    transform: translateY(3px);
    transition-duration: 0.25s;
  }
}

.order-icon-btn {
  user-select: none;
  cursor: pointer;
  padding: 0.6rem 1rem;
  background-color: white;
  border: none;
  border-radius: 4px;
  width: 10rem;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  & > span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    & > * {
      display: inline-block;
      margin: 0 0.25rem;
    }
  }
  img {
    height: 30px;
    width: 30px;
  }
}

#oppo-sect {
  margin-bottom: 4.5rem;
}

#oppo-search-form {
  margin: 2rem auto 1rem auto;
  .ord-search-ti {
    border: 3px solid #e91e63;
  }
  #oppo-search-btn {
    background-color: #d32f2f;
  }
}

#ord-search-form {
  margin: 2rem auto 1rem auto;
  .ord-search-ti {
    border: 3px solid #7cb342;
  }
  #ord-search-btn {
    background-color: #43a047;
  }
}

#oppo-detail-panel {
  color: white;
  #oppo-panel-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    @include tablet {
      flex-flow: column wrap;
      justify-content: center;
    }
    & > div {
      border-radius: 12px;
      padding: 1.5rem 2.5rem;
      height: 430px;
    }
    #oppo-panel-client {
      background-color: #ec407a;
      width: 42%;
      margin-right: 1rem;
      @include laptop {
        width: 47%;
      }
      @include tablet {
        width: 85%;
        margin-right: 0;
        margin-bottom: 1rem;
      }
      @include mobile {
        width: 95%;
      }
    }
    #oppo-panel-cust {
      background-color: #f44336;
      width: 42%;
      margin-left: 1rem;
      @include laptop {
        width: 47%;
      }
      @include tablet {
        width: 85%;
        margin-left: 0;
        margin-top: 1rem;
      }
      @include mobile {
        width: 95%;
      }
    }
  }
  #oppo-panel-footer {
    margin: 3rem 0 1rem 0;
    padding: 0 1rem 0 0;
    text-align: center;
  }
}

#oppo-panel-header,
#ord-panel-header {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  color: #424242;
  font-size: 24px;
  margin-bottom: 3rem;
  & > div:first-child {
    color: #b71c1c;
    margin-bottom: 0.25rem;
  }
}

#oppo-popup {
  background-color: #f5f5f5;
  width: 650px;
  height: 750px;
  & > div:not(.popup-head) {
    padding: 0.5rem 3rem;
    @include tablet {
      padding: 0.5rem 1rem;
    }
    @include mobile {
      padding: 0.5rem 0.5rem;
    }
  }
}

#oppo-pop-form {
  margin-top: -1rem;
  & > * {
    display: block;
    margin: 1.5rem 0;
  }
  input {
    display: block;
    width: 100%;
    background-color: #e0e0e0;
    padding: 19px 2rem;
    font-family: "Comfortaa", cursive;
    font-size: 20px;
    border: none;
    border-radius: 30.5px;
  }
  #oppo-radio-row {
    margin: 2.5rem 0 3.5rem;
    display: flex;
    align-items: center;
    font-size: 18px;
    @include mobile {
      font-size: 16px;
    }
  }
}

#oppo-create-btn {
  height: 61px;
  width: 100%;
  border-radius: 30.5px;
  .btn-icon-wrapper {
    & > * {
      margin: 0 0.4rem;
    }
  }
  .btn-icon {
    width: 27px;
    height: 27px;
  }
}

#ord-header-wrapper {
  font-size: 28px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  padding: 1.5rem 3rem;
  color: white;
  background-color: rgba($color: #232f3e, $alpha: 0.95);
  width: 85%;
  margin: 0 auto;
  border-radius: 8px;
  #order-name {
    margin-top: 0.5rem;
  }
  @include laptop {
    font-size: 24px;
  }
  @include tablet {
    text-align: center;
    font-size: 22px;
    padding: 1.5rem;
  }
  @include mobile {
    font-size: 18px;
    width: 90%;
  }
}

#ord-header-action-wrapper {
  margin: 2rem 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  & > button {
    width: 16rem;
    @include laptop {
      width: 14rem;
    }
    @include tablet {
      width: 22rem;
      margin: 0.5rem 0;
    }
    @include mobile {
      width: 18rem;
    }
  }
  @include tablet {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}

#ord-detail-popup {
  background-color: white;
  font-family: "Titillium Web", sans-serif;
  font-size: 22px;
  width: 800px;
  height: 640px;
  @include mobile {
    text-align: left;
  }
  .ord-detail-pop-row {
    margin: 0.5rem 0;
    padding-left: 1.5rem;
    span:first-child {
      display: inline-block;
      color: #263238;
      width: 40%;
      font-weight: 600;
    }
    span:last-child {
      display: inline-block;
    }
    @include tablet {
      font-size: 20px;
      padding-left: 0.5rem;
    }
  }
}

#ord-panel-body {
  color: #212121;
  font-size: 22px;
  #ord-ve-form {
    border: #1b5e20 2px solid;
    border-radius: 6px;
    padding: 3rem 2rem 3rem 6rem;
    width: 80%;
    margin: auto;
    @include laptop {
      padding: 3rem 2rem 3rem 4rem;
      width: 85%;
    }
    @include tablet {
      padding: 3rem 1rem 3rem 2rem;
      width: 90%;
      font-size: 20px;
    }
    @include mobile {
      width: 95%;
      font-size: 18px;
    }
    .ord-panel-row {
      width: 100%;
      margin: 1.25rem 0;
      user-select: auto;
      line-height: 1.5;
      span:first-child {
        display: inline-block;
        width: 40%;
        @include laptop {
          width: 36%;
        }
        @include tablet {
          width: 32%;
        }
        @include mobile {
          width: 45%;
        }
      }
      span:nth-child(2) {
        display: inline-block;
      }
    }
    #ord-sec-flex-row {
      margin: 3rem 0 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem 0 0;
      @include tablet {
        flex-flow: column wrap;
      }
      input[type="password"] {
        width: 50%;
        font-size: 20px;
        padding: 1rem 2rem;
        border: none;
        border-bottom: 2px #2e7d32 solid;
        @include tablet {
          width: 85%;
          margin-bottom: 2.5rem;
          text-align: center;
        }
      }
      input[type="submit"] {
        width: 10rem;
        background-color: #388e3c;
        box-shadow: 0 20px 16px -16px #1b5e20;
        &:active {
          box-shadow: 0 20px 16px -19px #1b5e20;
        }
      }
    }
  }
}

.ord-body-inner-wrapper {
  width: $frame-size-large;
  height: 100%;
  margin: 0 1rem;
  @include laptop {
    width: $frame-size-ex-large;
  }
  @include tablet {
    width: $frame-size-large;
  }
  @include mobile {
    width: $frame-size-medium;
  }
  @include small {
    width: $frame-size-small;
  }
  .frame-wrapper {
    width: $frame-size-large;
    height: $frame-size-large;
    @include laptop {
      width: $frame-size-ex-large;
      height: $frame-size-ex-large;
    }
    @include tablet {
      width: $frame-size-large;
      height: $frame-size-large;
    }
    @include mobile {
      width: $frame-size-medium;
      height: $frame-size-medium;
    }
    @include small {
      width: $frame-size-small;
      height: $frame-size-small;
    }
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}

.ord-penta-btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  width: 18rem;
  font-size: 18px;
  transform: skewX(-15deg);
  border: 3px #311b92 solid;
  color: #311b92;
  text-align: center;
  background-color: white;
  font-weight: 600;
  transition-duration: 0.5s;
  transition-property: background-color, color;
  &:hover:not(.penta-btn-dis) {
    background-color: #311b92;
    color: white;
    transition-duration: 0.5s;
  }
  &.penta-btn-dis {
    cursor: default;
    border-color: rgba(0, 0, 0, 0.26);
    color: rgba(0, 0, 0, 0.26);
    background-color: white;
  }
}

#ord-body-wrapper {
  padding: 1rem 0 0;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  @include laptop {
    flex-flow: column wrap;
    align-items: center;
  }
  #circle-wrapper {
    background-image: url("/static/order/images/frame-circle.png");
    background-size: cover;
    margin: 0 0 15rem 0;
    @include laptop {
      margin: 0 0 1rem 0;
    }
    #circle-inner-box {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-family: "Audiowide", cursive;
        font-size: 36px;
        font-weight: 400;
        margin: 0.25rem 0;
        font-style: italic;
        color: #1a237e;
        transform: translateX(1.5rem);
        @include laptop {
          font-size: 42px;
        }
        @include tablet {
          font-size: 36px;
        }
        @include mobile {
          font-size: 28px;
        }
        @include small {
          font-size: 26px;
        }
      }
    }
  }
  #penta-wrapper {
    background-image: url("/static/order/images/frame-penta.png");
    background-size: cover;
    user-select: none;
    margin: 15rem 0 0 0;
    @include laptop {
      margin: 1rem 0 0 0;
    }
    #penta-inner-box {
      transform: translateY(2rem);
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      @include laptop {
        transform: translateY(2.5rem);
      }
      @include tablet {
        transform: translateY(1.75rem);
      }
      button {
        margin: 0.5rem 0;
        @include laptop {
          width: 22rem;
          font-size: 22px;
        }
        @include tablet {
          width: 20rem;
          font-size: 20px;
        }
        @include mobile {
          width: 14rem;
          font-size: 16px;
          padding: 0.5rem 1rem;
        }
        @include small {
          width: 12rem;
          padding: 0.25rem 0.75rem;
          border: 2px #311b92 solid;
        }
      }
    }
  }
}

#ord-add-site-sect,
#ord-exist-site-sect {
  width: 85%;
  margin: 3rem auto 0 auto;
  padding: 2rem 1rem;
}

#site-search-wrapper {
  margin: 0.5rem 0 0 0;
  h2 {
    color: #d50000;
  }
  #map-wrapper {
    position: relative;
    margin: 1.5rem 0 0 0;
    @include tablet {
      position: static;
    }
  }
}

#ac-wrapper {
  z-index: 3;
  width: 650px;
  max-width: 60%;
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translateX(-50%);
  @include tablet {
    position: static;
    transform: none;
    max-width: 80%;
    margin: 0.5rem auto 1.5rem auto;
  }
  #ac-input {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 20px;
    font-family: "Comfortaa", cursive;
    border: none;
    border-radius: 27.5px;
    background-color: #eeeeee;
    @include tablet {
      font-size: 18px;
      padding: 0.75rem 1.75rem;
      text-align: center;
    }
  }
}

#site-details-wrapper {
  margin: 2.5rem 0 0 0;
  h2 {
    margin-bottom: 2rem;
    color: #0d47a1;
  }
}

.addr-grid-inner-wrapper {
  &.addr-long {
    grid-column: 1 / span 2;
    @include mobile {
      grid-column: 1 / span 1;
    }
  }
  .addr-label {
    padding-left: 0.5rem;
    display: block;
    font-family: "Montserrat", sans-serif;
    color: #01579b;
    font-size: 22px;
    margin-bottom: 0.75rem;
  }
  .addr-grid-item {
    display: block;
    font-family: "Comfortaa", cursive;
    color: #212121;
    font-size: 22px;
    width: 100%;
    padding: 0.75rem 1.25rem;
    border: #01579b 1px solid;
    border-radius: 4px;
    &:focus:not(.addr-field-dis) {
      border-width: 2px;
    }
  }
  .addr-field-dis {
    border: #bdbdbd 1px solid;
    background-color: #f5f5f5;
    color: #757575;
    cursor: default;
  }
}

#ord-site-addr-form {
  padding: 2rem 3rem 2.5rem;
  background-color: #fafafa;
  box-shadow: 2px 2px 8px 0 #9e9e9e;
  border-radius: 8px;
  @include tablet {
    padding: 2.5rem 1.75rem 2.5rem;
  }
  #addr-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 6rem;
    grid-row-gap: 2.25rem;
    @include laptop {
      grid-column-gap: 5rem;
    }
    @include tablet {
      grid-column-gap: 4rem;
    }
    @include mobile {
      grid-column-gap: 0rem;
      grid-template-columns: 1fr;
    }
  }
}

#addr-action-btns {
  margin: 4rem 0 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include tablet {
    flex-flow: column wrap;
  }
  button {
    width: 13rem;
    &:first-child {
      background-color: #01579b;
      @include tablet {
        margin-bottom: 0.75rem;
      }
    }
    &:last-child {
      background-color: #037e95;
      @include tablet {
        margin-top: 0.75rem;
      }
    }
  }
}

#site-list-wrapper {
  padding: 1rem 1rem;
  cursor: default;
  @include tablet {
    padding: 1rem 0;
  }
  .site-row {
    &:not(:first-child):not(:last-child) {
      margin: 3rem 0;
    }
    text-align: center;
    padding: 0 0.5rem;
    margin: 1.5rem 0;
    display: grid;
    height: 88px;
    grid-template-columns: 7rem 7rem auto 16rem 9rem;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    font-size: 22px;
    font-family: "Share Tech Mono", monospace;
    background-color: #f5f5f5;
    border-radius: 44px;
    @include laptop {
      grid-template-columns: 7rem 5.5rem 2fr 1fr 8rem;
    }
    @include tablet {
      grid-template-columns: 5rem 2fr 1fr 5rem;
      font-size: 20px;
    }
    @include mobile {
      .unimp-2 {
        display: none;
      }
      grid-template-columns: 2fr 7fr 2fr;
      font-size: 18px;
    }
    &:hover {
      background-color: #e0e0e0;
    }
    img {
      width: 42px;
      height: 42px;
      &:last-child:hover {
        cursor: pointer;
      }
      @include tablet {
        width: 36px;
        height: 36px;
        &.unimp {
          display: none;
        }
      }
    }
  }
}
