<!-- Order home page -->
{% extends 'order/base.html' %}
{% load static %}

{% block ordContent %}
<div id="ord-home-wrapper">
	<section id="oppo-sect">
		<div id="oppo-banner" class="ord-banner">
			<div class="banner-title">Start</div>
			<div class="banner-content">Get started with a new order by looking up an opportunity number created by the
				business owner.</div>
			<div class="banner-img">
				<img src="{% static 'order/images/icon-51.svg' %}" alt="banner-img-1">
			</div>
		</div>
		<form action="/order/find-oppo/" method="POST" id="oppo-search-form" class="ord-home-sf">
			{% csrf_token %}
			<div class="ord-home-field-wrapper">
				<input class="ord-search-ti" type="text" name="opportunity-number" placeholder="Opportunity Number" required>
			</div>
			<input id="oppo-search-btn" class="ord-search-btn" type="submit" value="Look Up">
		</form>
		{% if oppoData %}
		<div id="oppo-detail-panel" class="ord-home-panel">
			<div id="oppo-id-row" style="display: none;" data-oppo="{{ oppoData.opportunity.opportunity_id }}"></div>
			<div id="oppo-panel-header">
				<div>Oppor. # {{ oppoData.opportunity.opportunity_number }}</div>
				<div>Valid From: {{ oppoData.opportunity.creation_time|date:"Y-M-d" }}</div>
			</div>
			<div id="oppo-panel-body">
				<div id="oppo-panel-client">
					<div class="panel-inner-frame">
						<div class="oppo-panel-inner-head-row">
							<span class="panel-name-head">Business Details</span>
							<span class="panel-head-img">
								<img src="{% static 'order/images/icon-53.svg' %}" alt="oppo-client-icon">
							</span>
						</div>
						<div class="oppo-panel-inner-row">
							<span class="panel-row-head">Name: </span>
							<span class="panel-row-body">{{ oppoData.clientName }}</span>
						</div>
						<div class="oppo-panel-inner-row">
							<span class="panel-row-head">Email: </span>
							<span class="panel-row-body">{{ oppoData.clientEml }}</span>
						</div>
						<div class="oppo-panel-inner-row">
							<span class="panel-row-head">Phone: </span>
							<span class="panel-row-body">{{ oppoData.clientPh }}</span>
						</div>
						<div class="oppo-panel-inner-row">
							<span class="panel-row-head">Country: </span>
							<span class="panel-row-body">{{ oppoData.clientCty }}</span>
						</div>
						<div class="oppo-panel-inner-row">
							<span class="panel-row-head">DL. Count: </span>
							<span class="panel-row-body">{{ oppoData.opportunity.deal_limit }}</span>
						</div>
					</div>
				</div>
				<div id="oppo-panel-cust">
					<div class="panel-inner-frame">
						<div class="oppo-panel-inner-head-row">
							<span class="panel-name-head">Customer Details</span>
							<span class="panel-head-img">
								<img src="{% static 'order/images/icon-54.svg' %}" alt="oppo-cust-icon">
							</span>
						</div>
						<div class="oppo-panel-inner-row">
							<span class="panel-row-head">Name: </span>
							<span class="panel-row-body">{{ oppoData.custName }}</span>
						</div>
						<div class="oppo-panel-inner-row">
							<span class="panel-row-head">Email: </span>
							<span class="panel-row-body">{{ oppoData.custEml }}</span>
						</div>
						<div class="oppo-panel-inner-row">
							<span class="panel-row-head">MO. Discount: </span>
							<span class="panel-row-body">{{ oppoData.opportunity.discount_mrc }}</span>
						</div>
						<div class="oppo-panel-inner-row">
							<span class="panel-row-head">NR. Discount: </span>
							<span class="panel-row-body">{{ oppoData.opportunity.discount_nrc }}</span>
						</div>
						<div class="oppo-panel-inner-row">
							<span class="panel-row-head">DL. Left: </span>
							<span class="panel-row-body">{{ oppoData.reDeal }}</span>
						</div>
					</div>
				</div>
			</div>
			<div id="oppo-panel-footer">
				<button type="button" onclick="showCreateOrdPop()" class="ord-panel-btn">Create Order</button>
			</div>
		</div>
		{% endif %}
	</section>
	<section id="ord-sect">
		<div id="ord-banner" class="ord-banner">
			<div class="banner-title">Deliver</div>
			<div class="banner-content">Continue to work on an existing order or view archived details of a finished order
				with the order number.</div>
			<div class="banner-img">
				<img src="{% static 'order/images/icon-52.svg' %}" alt="banner-img-2">
			</div>
		</div>
		<form action="#" method="POST" id="ord-search-form" class="ord-home-sf">
			{% csrf_token %}
			<div class="ord-home-field-wrapper">
				<input class="ord-search-ti" type="text" name="order-number" placeholder="Order Number" required>
			</div>
			<input id="ord-search-btn" class="ord-search-btn" type="submit" value="Retrieve">
		</form>
	</section>
</div>
<!-- Popup -->
<div class="black-overlay no-show"></div>
<div id="oppo-popup" class="seev-popup no-show">
	<div class="popup-head">
		<img onclick="dismissOppoPop()" src="{% static 'icon-100.svg' %}" alt="close-icon">
	</div>
	<div class="popup-title">Create Order</div>
	<div class="popup-subtitle font-nuni">Please provide a name and a secret password for your order for easy
		identification and protection.</div>
	<div id="oppo-pop-form-wrapper" class="popup-content">
		<form id="oppo-pop-form" action="/order/create-order/" method="post" novalidate>
			{% csrf_token %}
			<input type="text" name="opportunity-id" id="id_oppo_id" style="display: none;">
			<input type="text" name="order-name" id="id_ord_name" placeholder="Order Name" required>
			<input type="text" name="order-secret" id="id_ord_secret" placeholder="Secret" required>
			<input id="id_ord_agree" type="radio" style="display: none;" required>
			<div id="oppo-radio-row">
				<span id="oppo-radio" class="seev-radio-outer" data-target="id_ord_agree" data-inner="oppo-radio-inner">
					<span id="oppo-radio-inner" class="seev-radio-inner"></span>
				</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<span id="oppo-radio-text">I agree to the business's <span style="color: #0D47A1;">Terms of
						service</span></span>
			</div>
			<button id="oppo-create-btn" class="seev-btn-outline" type="submit">
				<span class="btn-icon-wrapper">
					<span>Confirm</span>
					<img class="btn-icon" src="{% static 'icon-101.svg' %}" alt="confirm-icon">
				</span>
			</button>
		</form>
	</div>
</div>
{% endblock ordContent %}