<!-- Order home page -->
{% extends 'order/base.html' %}
{% load static %}

{% block ordContent %}
<div id="ord-home-wrapper">
	<section id="oppo-sect">
		<div id="oppo-banner" class="ord-banner">
			<div class="banner-title">Start</div>
			<div class="banner-content">Get started with a new order by looking up an opportunity number created by the
				business owner.</div>
			<div class="banner-img">
				<img src="{% static 'order/images/icon-51.svg' %}" alt="banner-img-1">
			</div>
		</div>
		<form action="/order/find-oppo/" method="POST" id="oppo-search-form" class="ord-home-sf">
			{% csrf_token %}
			<div class="ord-home-field-wrapper">
				<input class="ord-search-ti" type="text" name="opportunity-number" placeholder="Opportunity Number">
			</div>
			<input id="oppo-search-btn" class="ord-search-btn" type="submit" value="Look Up">
		</form>
		{% if oppoData %}
		<div id="oppo-detail-panel" class="ord-home-panel">
			<h1>{{ oppoData.opportunity.creation_time|date:"Y-M-d" }}</h1>
			<h1>{{ oppoData.opportunity.discount_mrc }} </h1>
			<h1>{{ oppoData.opportunity.discount_nrc }}</h1>
			<h1>{{ oppoData.clientCty }}</h1>
			<h1>{{ oppoData.clientPh }}</h1>
			<h1>{{ oppoData.custCty }}</h1>
		</div>
		{% endif %}
	</section>
	<section id="ord-sect">
		<div id="ord-banner" class="ord-banner">
			<div class="banner-title">Deliver</div>
			<div class="banner-content">Continue to work on an existing order or view archived details of a finished order
				with the order number.</div>
			<div class="banner-img">
				<img src="{% static 'order/images/icon-52.svg' %}" alt="banner-img-2">
			</div>
		</div>
		<form action="#" method="POST" id="ord-search-form" class="ord-home-sf">
			{% csrf_token %}
			<div class="ord-home-field-wrapper">
				<input class="ord-search-ti" type="text" name="order-number" placeholder="Order Number">
			</div>
			<input id="ord-search-btn" class="ord-search-btn" type="submit" value="Retrieve">
		</form>
	</section>
</div>
{% endblock ordContent %}