<!-- Order configure service page -->
{% extends 'order/order-base.html' %}
{% load static %}

{% block ordConfBody %}
<div style="display: none;" id="id-svc-data" data-id="{{ svcData.id }}" data-loc="{{ siteDoc.site_name }}"></div>
<section id="ord-svc-details-sect">
	<h1 class="ord-config-title">Product/Service</h1>
	<div id="site-svc-block">
		<div class="loc-comp">{{ addrDoc.address_1 }}, </div>
		{% if addrDoc.address_2 %}
		<div class="loc-comp">{{ addrDoc.address_2 }}, </div>
		{% endif %}
		{% if addrDoc.address_3 %}
		<div class="loc-comp">{{ addrDoc.address_3 }}, </div>
		{% endif %}
		<div class="loc-comp">{{ addrDoc.city }}, </div>
		<div class="loc-comp">{{ addrDoc.state }}, </div>
		{% if addrDoc.zipcode and addrDoc.zipcode != 'N/A' %}
		<div class="loc-comp">{{ addrDoc.zipcode }}, </div>
		<div class="loc-comp">{{ addrDoc.country }}</div>
		{% endif %}
	</div>
	{% if preId or nxtId %}
	<div id="svc-nav-action-wrapper">
		{% if preId %}
		<button type="button" onclick="window.location.href = '/order/edit-svc/?svc_id={{ preId }}'"
			class="ord-pri-btn">Prev. Item</button>
		{% endif %}
		{% if nxtId %}
		<button type="button" onclick="window.location.href = '/order/edit-svc/?svc_id={{ nxtId }}'"
			class="ord-pri-btn">Next Item</button>
		{% endif %}
	</div>
	{% endif %}
	<div class="ord-config-subtitle" style="margin: 2.5rem 0 0 0; padding-left: 1rem; font-size: 28px;">Name:
		{{ svcData.name }}</div>
	<div class="ord-config-subtitle" style="margin: 0.25rem 0 0 0; padding-left: 1rem; font-size: 28px; color: #424242;">
		Serial: {{ svcData.serial }}</div>
	{% if svcData.valid == '1' %}
	<div class="ord-config-subtitle" style="margin: 0.25rem 0 0 0; padding-left: 1rem; font-size: 28px; color: #424242;">
		Status: <span style="color: #4CAF50;">Valid</span></div>
	{% else %}
	<div class="ord-config-subtitle" style="margin: 0.25rem 0 0 0; padding-left: 1rem; font-size: 28px; color: #424242;">
		Status: <span style="color: #F44336;">Invalid</span></div>
	{% endif %}
	<div style="margin: 2.5rem 0 0 0; user-select: none;">
		<button id="ord-back-pr" onclick="window.location.href = '/order/build-pr/'" type="button"
			class="ord-pri-btn">Add/Remove</button>
	</div>
</section>
<section id="ord-svc-config-sect">
	<h1 class="ord-config-title">Configuration</h1>
	{% if True %}
	<ul id="svc-form-val-err">
		<div class="svc-err-title">The following error(s) have occurred:</div>
		<li class="svc-val-err-line">This sample value 1 is null.</li>
		<li class="svc-val-err-line">This sample value 2 is invalid.</li>
		<li class="svc-val-err-line">This sample value 3 should be greater than 5.</li>
		<li class="svc-val-err-line">This sample value 4 is not a valid email address.</li>
		<li class="svc-val-err-line">This sample value 5 is required.</li>
	</ul>
	{% endif %}
	<form id="svc-master-form" action="#" novalidate>
		<div id="svc-form-main">
			<!-- PS -->
			<div class="svc-form-line ps-line">
				<div class="svc-item-head ps-head">
					<div><span>PS</span></div>
					<div>General Specifications</div>
				</div>
				{% if pspCnt > 0 %}
				<div class="svc-spec-wrapper">
					{% for psp in prCtgData %}
					{% if psp.type == 'BO' and psp.leaf != 'SP_BASE' %}
					<div class="ord-spec-fi-wrapper">
						<label class="ord-spec-label">{{ psp.label }}</label>
						<select id="id_psp_{{ psp.id }}" data-value="{{ psp.value }}" class="ord-spec-fi psp-child">
							<option value="Y">Yes</option>
							<option value="N">No</option>
						</select>
					</div>
					{% endif %}
					{% if psp.type == 'STR' %}
					<div class="ord-spec-fi-wrapper">
						<label class="ord-spec-label">{{ psp.label }}</label>
						<input type="text" id="id_psp_{{ psp.id }}" data-value="{{ psp.value }}" class="ord-spec-fi psp-child">
					</div>
					{% endif %}
					{% if psp.type == 'QTY' %}
					<div class="ord-spec-fi-wrapper">
						<label class="ord-spec-label">{{ psp.label }}</label>
						<input type="number" id="id_psp_{{ psp.id }}" data-value="{{ psp.value }}" class="ord-spec-fi psp-child">
					</div>
					{% endif %}
					{% if psp.type == 'ENUM' %}
					<div class="ord-spec-fi-wrapper">
						<label class="ord-spec-label">{{ psp.label }}</label>
						<select id="id_psp_{{ psp.id }}" data-value="{{ psp.value }}" class="ord-spec-fi psp-child">
							{% for spv in psp.values %}
							<option value="{{ spv.code }}">{{ spv.ctl }}</option>
							{% endfor %}
						</select>
					</div>
					{% endif %}
					{% endfor %}
				</div>
				{% else %}
				<div class="ord-config-subtitle" style="margin: 2.5rem 0 0 0; padding-left: 1rem; font-size: 28px;">No
					information required.</div>
				<div style="height: 0.4rem; margin: 0;"></div>
				{% endif %}
			</div>
			<!-- FT -->
			{% for fet in fetCtgData %}
			<div class="svc-form-line ft-line" id="id_fet_{{ fet.id }}">
				<div class="svc-item-head ft-head">
					<div><span>FT</span></div>
					<div>{{ fet.name }}</div>
				</div>
				<div class="svc-spec-wrapper">
					{% for fsp in fet.specs %}
					{% if fsp.leaf == 'SP_BASE' %}
					<div class="ord-spec-fi-wrapper">
						<label class="ord-spec-label">Enable Feature</label>
						<select id="id_fsp_{{ fsp.id }}" data-value="{{ fsp.value }}" class="ord-spec-fi fsp-master"
							data-master-id="{{ fet.id }}">
							<option value="Y">Yes</option>
							<option value="N">No</option>
						</select>
					</div>
					{% endif %}
					{% if fsp.type == 'BO' and fsp.leaf != 'SP_BASE' %}
					<div class="ord-spec-fi-wrapper">
						<label class="ord-spec-label">{{ fsp.label }}</label>
						<select id="id_fsp_{{ fsp.id }}" data-value="{{ fsp.value }}" class="ord-spec-fi fsp-child">
							<option value="Y">Yes</option>
							<option value="N">No</option>
						</select>
					</div>
					{% endif %}
					{% if fsp.type == 'STR' %}
					<div class="ord-spec-fi-wrapper">
						<label class="ord-spec-label">{{ fsp.label }}</label>
						<input type="text" id="id_fsp_{{ fsp.id }}" data-value="{{ fsp.value }}" class="ord-spec-fi fsp-child">
					</div>
					{% endif %}
					{% if fsp.type == 'QTY' %}
					<div class="ord-spec-fi-wrapper">
						<label class="ord-spec-label">{{ fsp.label }}</label>
						<input type="number" id="id_fsp_{{ fsp.id }}" data-value="{{ fsp.value }}" class="ord-spec-fi fsp-child">
					</div>
					{% endif %}
					{% if fsp.type == 'ENUM' %}
					<div class="ord-spec-fi-wrapper">
						<label class="ord-spec-label">{{ fsp.label }}</label>
						<select id="id_fsp_{{ fsp.id }}" data-value="{{ fsp.value }}" class="ord-spec-fi fsp-child">
							{% for spv in fsp.values %}
							<option value="{{ spv.code }}">{{ spv.ctl }}</option>
							{% endfor %}
						</select>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</form>
	<!-- Json Form -->
	<form style="display: none;" action="/order/save-svc/" method="post" novalidate id="svc-json-form">
		{% csrf_token %}
		<input type="text" name="svc_json" id="json-field">
	</form>
	<div style="margin: 2.5rem 0 0 0; user-select: none;">
		<button id="ord-save-svc" onclick="submitConfig()" type="button" class="ord-pri-btn">Save/Validate</button>
	</div>
</section>
<!-- Scripts -->
<script src="{% static 'order/js/configuration.js' %}"></script>
{% endblock ordConfBody %}