<!-- Order configuration home page -->
{% extends 'order/order-base.html' %}
{% load static %}

{% block ordConfBody %}
<div id="ord-body-wrapper">
	<div id="circle-wrapper" class="ord-body-inner-wrapper">
		<div class="frame-wrapper">
			<div id="circle-inner-box">
				<h1>Total Sites: {{ numSites }}</h1>
				<h1>Total Products: {{ numPrs }}</h1>
			</div>
		</div>
	</div>
	<div id="penta-wrapper" class="ord-body-inner-wrapper">
		<div class="frame-wrapper">
			<div id="penta-inner-box">
				<button onclick="navToSiteConfig()" id="ord-sc-btn" type="button" class="ord-penta-btn font-btn">Configure
					Sites</button>
				<button onclick="navToBuildPr()" id="ord-bp-btn" type="button" class="ord-penta-btn font-btn">Build
					Products</button>
				<button onclick="navToSvcConfig()" id="ord-es-btn" type="button" class="ord-penta-btn font-btn">Edit
					Services</button>
				<button onclick="navToSummary()" id="ord-sq-btn" type="button"
					class="ord-penta-btn font-btn">Summary/Quoting</button>
			</div>
		</div>
	</div>
</div>
<aside id="ord-snap-data" style="display: none;" data-ns="{{ numSites }}" data-np="{{ numPrs }}">
	{% if isValid %}
	<div id="ord-is-valid">True</div>
	{% endif %}
</aside>
<!-- Popup -->
<div class="black-overlay no-show"></div>
<!-- Order validation message -->
{% if validCnt is not none %}
<div id="ord-valid-msg" class="seev-popup no-show">
	<div class="popup-head" style="margin-bottom: 3rem;">
		<img onclick="dismissOrderPopup('ord-valid-msg')" src="{% static 'icon-100.svg' %}" alt="close-icon">
	</div>
	<div class="popup-body">
		{% if validCnt == -1 %}
		<div>No site has been added to this order or order data is corrupted.</div>
		{% endif %}
		{% if validCnt == 0 %}
		<div>This order has been validated. Please proceed to quoting and finalization.</div>
		{% endif %}
		{% if validCnt > 0 %}
		<div>Detected error in {{ validCnt }} site(s). Please re-configure products or services in them.</div>
		{% endif %}
		<div>
			<button style="width: 10rem;" onclick="dismissOrderPopup('ord-valid-msg')" type="button"
				class="ord-pri-btn">Close</button>
		</div>
	</div>
</div>
{% endif %}
<script src="{% static 'order/js/home.js' %}"></script>
{% endblock ordConfBody %}