<!-- Order configuration template -->
{% extends 'order/base.html' %}
{% load static %}

{% block ordContent %}
<div id="ord-config-head">
	<div id="ord-header-wrapper">
		<div id="order-number">Order # {{ ordMeta.order_number }}</div>
		<div id="order-name">Order Name: {{ ordMeta.order_name }}</div>
		<div id="ord-header-action-wrapper">
			<button type="button" class="order-icon-btn" onclick="showOrdDetails()">
				<span>
					<img src="{% static 'order/images/icon-55.svg' %}" alt="view-icon">
					<span style="color: #283593;">View Details</span>
				</span>
			</button>
			<button type="button" class="order-icon-btn">
				<span>
					<img src="{% static 'order/images/icon-56.svg' %}" alt="validate-icon">
					<span style="color: #2E7D32;">Validate Order</span>
				</span>
			</button>
			<button type="button" class="order-icon-btn">
				<span>
					<img src="{% static 'order/images/icon-57.svg' %}" alt="cancel-icon">
					<span style="color: #D84315;">Cancel Order</span>
				</span>
			</button>
		</div>
	</div>
</div>
<!-- Base scripts -->
<script src="{% static 'order/js/order.js' %}"></script>
<div id="ord-config-body">
	{% block ordConfBody %}
	{% endblock ordConfBody %}
</div>
<!-- Data -->
<aside style="display: none;">
	<div id="ord-data-order-number">{{ data_on }}</div>
	<div id="ord-data-order-status">{{ data_os }}</div>
</aside>
<!-- Popup -->
<div class="black-overlay no-show"></div>
<div id="ord-detail-popup" class="seev-popup no-show">
	<div class="popup-head" style="margin-bottom: 3rem;">
		<img onclick="dismissOrdDetails()" src="{% static 'icon-100.svg' %}" alt="close-icon">
	</div>
	<div>
		<div class="ord-detail-pop-row">
			<span>Oppor. #: </span>
			<span style="color: #B71C1C;">{{ ordMeta.opportunity_number }}</span>
		</div>
		<div class="ord-detail-pop-row">
			<span>Customer Name: </span>
			<span>{{ ordMeta.customer_name }}</span>
		</div>
		<div class="ord-detail-pop-row">
			<span>Business Client: </span>
			<span>{{ ordMeta.client_name }}</span>
		</div>
		<div class="ord-detail-pop-row">
			<span>Business Email: </span>
			<span>{{ ordMeta.client_email }}</span>
		</div>
		<div class="ord-detail-pop-row">
			<span>Business Phone: </span>
			<span>{{ ordMeta.client_phone }}</span>
		</div>
		<div class="ord-detail-pop-row">
			<span>Monthly Discount: </span>
			<span>{{ ordMeta.order_dis_mrc }}%</span>
		</div>
		<div class="ord-detail-pop-row">
			<span>Flat Discount: </span>
			<span>{{ ordMeta.order_dis_nrc }}%</span>
		</div>
		<div class="ord-detail-pop-row">
			<span>Order Status: </span>
			<span style="color: #4A148C;">{{ ordMeta.order_status }}</span>
		</div>
	</div>
</div>
<!-- Float -->
<div class="seev-float-btn-group">
	<div style="background-color: #0D47A1;" class="seev-float-btn" onclick="exitOrder()">
		<img src="{% static 'order/images/icon-58.svg' %}" alt="exit-icon">
	</div>
	<div style="background-color: #B71C1C;" class="seev-float-btn float-above" onclick="navToConfigHome()">
		<img src="{% static 'order/images/icon-59.svg' %}" alt="home-icon">
	</div>
</div>
<form style="display: none;" action="/order/exit-ord/" id="exit-ord-form" method="POST">
	{% csrf_token %}
</form>
{% endblock ordContent %}