<!-- Order add products page -->
{% extends 'order/order-base.html' %}
{% load static %}

{% block ordConfBody %}
<div style="display: none;" id="site-selId">{{ selId }}</div>
<section id="ord-sites-sel-sect">
	<h1 class="ord-config-title">Choose a Location</h1>
	<div id="site-sel-wrapper">
		{% for site in siteData %}
		<div onclick="navToSite(event)" class="site-pill ord-pill" data-id="{{ site.id }}" data-valid="{{ site.valid }}">
			{{ site.name }}</div>
		{% endfor %}
	</div>
	<div style="margin: 3.5rem 0 0 0; user-select: none;">
		<button id="ord-new-site-btn" onclick="window.location.href = '/order/config-site/'" type="button"
			class="ord-pri-btn">Add New Site</button>
	</div>
</section>
<section id="ord-view-pr-sect" style="margin-top: 2.25rem;">
	<h1 class="ord-config-title">View Order Items</h1>
	<div id="site-loc-block">
		<div id="loc-add1" class="loc-comp">{{ siteDoc.address_1 }}, </div>
		{% if siteDoc.address_2 %}
		<div id="loc-add2" class="loc-comp">{{ siteDoc.address_2 }}, </div>
		{% endif %}
		{% if siteDoc.address_3 %}
		<div id="loc-add3" class="loc-comp">{{ siteDoc.address_3 }}, </div>
		{% endif %}
		<div id="loc-city" class="loc-comp">{{ siteDoc.city }}, </div>
		<div id="loc-state" class="loc-comp">{{ siteDoc.state }}, </div>
		{% if siteDoc.zipcode and siteDoc.zipcode != 'N/A' %}
		<div id="loc-zip" class="loc-comp">{{ siteDoc.zipcode }}, </div>
		<div id="loc-country" class="loc-comp">{{ siteDoc.country }}</div>
		{% endif %}
	</div>
	{% if prCount > 0 %}
	<div id="ord-basket-items-wrapper">
		{% for bi in biData %}
		<div class="ord-item-pill" data-id="{{ bi.id }}" data-valid="{{ bi.valid }}">
			<span>{{ bi.name }}</span>
			<span>#{{ bi.serial }}</span>
			<span class="ord-icon-only-btn" onclick="delBasketItem('{{ bi.id }}')">
				<img src="{% static 'order/images/icon-61.svg' %}" alt="trash-icon">
			</span>
		</div>
		{% endfor %}
	</div>
	{% else %}
	<div class="ord-config-subtitle" style="margin: 2rem 0 0 0; padding-left: 1rem;">No products in this site.</div>
	{% endif %}
</section>
<section id="ord-ctg-pr-sect">
	<h1 class="ord-config-title">Add New Products</h1>
	<div id="ord-ctg-add-wrapper">
		{% for pr in prData %}
		<div class="ord-ctg-item-pill" data-id="{{ pr.id }}">
			<span class="ctg-item-name">{{ pr.name }}</span>
			<span style="user-select: none;" class="ctg-item-qty">QTY: <span class="ctg-item-count">0</span></span>
			<span onclick="updateCart('{{ pr.id }}', true)" class="ctg-item-plus ord-icon-only-btn">
				<img src="{% static 'order/images/icon-63.svg' %}" alt="plus-icon">
			</span>
			<span onclick="updateCart('{{ pr.id }}', false)" class="ctg-item-minus ord-icon-only-btn">
				<img src="{% static 'order/images/icon-62.svg' %}" alt="minus-icon">
			</span>
		</div>
		{% endfor %}
	</div>
	<div id="ord-ctg-action" style="margin: 3.5rem 0 0 0; user-select: none;">
		<button onclick="submitCart()" id="ord-add-ctg-btn" type="button" class="ord-pri-btn">Add to Site</button>
	</div>
</section>
<!-- Catalog Form -->
<form id="ord-add-ctg-form" style="display: none;" action="/order/add-new-pr/" method="post" novalidate>
	{% csrf_token %}
	<input type="text" name="ord_site_id" value="{{ selId }}">
	<input type="text" name="ctg_add_data" id="ctg-add-data">
</form>
<!-- Delete Form -->
<form id="ord-rm-pr-form" style="display: none;" action="/order/del-pr/" method="post" novalidate>
	{% csrf_token %}
	<input type="text" name="ord_site_id" value="{{ selId }}">
	<input type="text" name="bi_rm_id" id="bi-rm-id">
</form>
<!-- Scripts -->
<script src="{% static 'order/js/products.js' %}"></script>
{% endblock ordConfBody %}