<!-- Order configuration home page -->
{% extends 'order/order-base.html' %}
{% load static %}

{% block ordConfBody %}
<div id="ord-body-wrapper">
	<div id="circle-wrapper" class="ord-body-inner-wrapper">
		<div class="frame-wrapper">
			<div id="circle-inner-box">
				<h1>Total Sites: 10</h1>
				<h1>Total Products: 27</h1>
			</div>
		</div>
	</div>
	<div id="penta-wrapper" class="ord-body-inner-wrapper">
		<div class="frame-wrapper">
			<div id="penta-inner-box">
				<button type="button" class="ord-penta-btn font-btn">Configure Sites</button>
				<button type="button" class="ord-penta-btn font-btn">Build Products</button>
				<button type="button" class="ord-penta-btn font-btn">Edit Services</button>
				<button type="button" class="ord-penta-btn font-btn">Summary/Quoting</button>
			</div>
		</div>
	</div>
</div>
{% endblock ordConfBody %}