<!-- Order site configuration page -->
{% extends 'order/order-base.html' %}
{% load static %}

{% block ordConfBody %}
<section id="ord-add-site-sect">
	<h1 class="ord-config-title">Add New Site</h1>
	<div id="site-search-wrapper">
		<h2 class="ord-config-subtitle">Powered by Google Maps</h2>
		<div id="map-wrapper">
			<div id="ac-wrapper">
				<input type="text" id="ac-input" placeholder="Enter an address">
			</div>
			<div id="map"></div>
		</div>
	</div>
	<div id="site-details-wrapper">
		<h2 class="ord-config-subtitle">Address Details</h2>
		<form id="ord-site-addr-form" action="#" method="post" novalidate>
			{% csrf_token %}
			<div id="addr-grid">
				<div class="addr-grid-inner-wrapper">
					<label for="addr-line-1" class="addr-label">Address Line 1</label>
					<input class="addr-grid-item addr-field-dis" type="text" name="address_line_1" id="addr-line-1" readonly>
				</div>
				<div class="addr-grid-inner-wrapper">
					<label for="addr-line-2" class="addr-label">Line 2</label>
					<input class="addr-grid-item" type="text" name="address_line_2" id="addr-line-2">
				</div>
				<div class="addr-grid-inner-wrapper">
					<label for="addr-line-3" class="addr-label">Line 3</label>
					<input class="addr-grid-item" type="text" name="address_line_3" id="addr-line-3">
				</div>
				<div class="addr-grid-inner-wrapper">
					<label for="addr-city" class="addr-label">City/Town</label>
					<input class="addr-grid-item addr-field-dis" type="text" name="address_city" id="addr-city" readonly>
				</div>
				<div class="addr-grid-inner-wrapper">
					<label for="addr-state" class="addr-label">State/Province</label>
					<input class="addr-grid-item addr-field-dis" type="text" name="address_state" id="addr-state" readonly>
				</div>
				<div class="addr-grid-inner-wrapper">
					<label for="addr-zipcode" class="addr-label">Postal Code</label>
					<input class="addr-grid-item addr-field-dis" type="text" name="address_postal" id="addr-zipcode" readonly>
				</div>
				<div class="addr-grid-inner-wrapper">
					<label for="addr-country" class="addr-label">Country</label>
					<input class="addr-grid-item addr-field-dis" type="text" name="address_country" id="addr-country" readonly>
				</div>
			</div>
			<div id="addr-action-btns">
				<button class="ord-pri-btn" type="submit">Add Site</button>
				<button class="ord-pri-btn" type="reset">Clear Form</button>
			</div>
		</form>
	</div>
</section>
<section id="ord-exist-site-sect">
	<h1 class="ord-config-title">Currect Sites</h1>
</section>

<script src="{% static 'order/js/location.js' %}"></script>
<script src="{{ mapApi }}" async defer></script>
{% endblock ordConfBody %}