<!-- Order site configuration page -->
{% extends 'order/order-base.html' %}
{% load static %}

{% block ordConfBody %}
<section id="ord-add-site-sect">
	<h1 class="ord-config-title">Add New Site</h1>
	<div id="site-search-wrapper">
		<h2>-- Powered by Google Maps Search Engine --</h2>
		<div id="map-wrapper">
			<div id="ac-wrapper">
				<input type="text" id="ac-input" placeholder="Enter an address">
			</div>
			<div id="map"></div>
		</div>
	</div>
</section>
<section id="ord-exist-site-sect">
	<h1 class="ord-config-title">Currect Sites</h1>
</section>

<script src="{% static 'order/js/location.js' %}"></script>
<script src="{{ mapApi }}" async defer></script>
{% endblock ordConfBody %}