<!-- Order summary/quoting page -->
{% extends 'order/order-base.html' %}
{% load static %}

{% block ordConfBody %}
<section id="ord-summ-item-sect">
	<h1 class="ord-config-title">Order Summary</h1>
	<!-- Indicators -->
	<div id="ord-notes-wrapper">
		<div class="ord-note">
			<span class="color-strip" style="background-color: #C62828;"></span>
			<span>Product</span>
		</div>
		<div class="ord-note">
			<span class="color-strip" style="background-color: #0D47A1;"></span>
			<span>Feature</span>
		</div>
		<div class="ord-note">
			<span class="color-strip" style="background-color: #689F38;"></span>
			<span>Specification</span>
		</div>
		<div class="ord-note">
			<span class="color-strip" style="background-color: #880E4F;"></span>
			<span>Monthly Charge</span>
		</div>
		<div class="ord-note">
			<span class="color-strip" style="background-color: #1A237E;"></span>
			<span>Non-recurring Charge</span>
		</div>
	</div>
	<!-- Locations -->
	<div class="summ-loc-wrapper">
		<div class="loc-summ">
			<div>
				<img src="{% static 'order/images/icon-64.svg' %}" alt="calculator">
				<span>Sample Location 1</span>
			</div>
			<div class="summ-price-block">
				<span class="mrc">$981.50</span>
				<span class="nrc">$1108.90</span>
			</div>
		</div>
		<!-- Products -->
		<div class="summ-pr-wrapper">
			<div class="pr-summ">
				<div>
					<img src="{% static 'order/images/icon-65.svg' %}" alt="package">
					<span>Sample Product 1</span>
				</div>
				<div class="summ-price-block">
					<span class="mrc">172.00</span>
					<span class="nrc">533.50</span>
				</div>
			</div>
			<!-- Product specs -->
			<div class="summ-spec">
				<div>
					<img src="{% static 'order/images/icon-67.svg' %}" alt="piece">
					<span>Sample Spec 1 (×1)</span>
				</div>
				<div class="summ-price-block">
					<span class="mrc">60</span>
					<span class="nrc">180</span>
				</div>
			</div>
			<div class="summ-spec">
				<div>
					<img src="{% static 'order/images/icon-67.svg' %}" alt="piece">
					<span>Sample Spec 2 (100M)</span>
				</div>
				<div class="summ-price-block">
					<span class="mrc">5</span>
					<span class="nrc">100</span>
				</div>
			</div>
			<!-- Features -->
			<div class="summ-fet-wrapper">
				<div class="fet-summ">
					<div>
						<img src="{% static 'order/images/icon-66.svg' %}" alt="feather">
						<span>Sample Feature 1</span>
					</div>
					<div class="summ-price-block">
						<span class="mrc">222</span>
						<span class="nrc">135</span>
					</div>
				</div>
				<!-- Feature specs -->
				<div class="summ-spec summ-spec-fet">
					<div>
						<img src="{% static 'order/images/icon-67.svg' %}" alt="piece">
						<span>Sample Spec 3 (×1)</span>
					</div>
					<div class="summ-price-block">
						<span class="mrc">40</span>
						<span class="nrc">90</span>
					</div>
				</div>
				<div class="summ-spec summ-spec-fet">
					<div>
						<img src="{% static 'order/images/icon-67.svg' %}" alt="piece">
						<span>Sample Spec 4 (×25)</span>
					</div>
					<div class="summ-price-block">
						<span class="mrc">17</span>
						<span class="nrc">450</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Subtotal -->
	<div style="margin-top: 4.5rem;"></div>
	<div class="ord-config-subtitle smaller">Total Monthly (DISC.): <strong>$1530.50</strong></div>
	<div class="ord-config-subtitle smaller">Total Non-recurring (DISC.): <strong>$16630.75</strong></div>
	<!-- Actions -->
	<div id="ord-summ-action-wrapper">
		<button style="background-color: rgb(143, 190, 0);" id="ord-quote-btn" type="button" class="ord-pri-btn">Request
			Quote</button>
		<button onclick="showOrderPopup('ord-submit-popup')" style="background-color: #FF3D00;" id="ord-submit-btn"
			type="button" class="ord-pri-btn">Finalize/Submit</button>
	</div>
</section>
<!-- Popup -->
<div id="ord-submit-popup" class="seev-popup no-show">
	<div class="popup-head" style="margin-bottom: 3rem;">
		<img onclick="dismissOrderPopup('ord-submit-popup')" src="{% static 'icon-100.svg' %}" alt="close-icon">
	</div>
	<div class="popup-body">
		<div>Once you submit the order, it will be permanently locked and no further edits can be made. Are you sure to
			continue?</div>
		<div>
			<button style="background-color: #FF3D00;" type="button" class="ord-pri-btn">Yes (Submit)</button>
			<button onclick="dismissOrderPopup('ord-submit-popup')" type="button" class="ord-pri-btn">No</button>
		</div>
	</div>
</div>
<!-- Hidden forms -->
<!-- Scripts -->
<script src="{% static 'order/js/summary.js' %}"></script>
{% endblock ordConfBody %}