<!-- Order site configuration page -->
{% extends 'order/order-base.html' %}
{% load static %}

{% block ordConfBody %}
<section id="ord-add-site-sect">
	<h1 class="ord-config-title">Add New Site</h1>
	<div id="site-search-wrapper">
		<h2 class="ord-config-subtitle">Powered by Google Maps</h2>
		<div id="map-wrapper">
			<div id="ac-wrapper">
				<input type="text" id="ac-input" placeholder="Enter an address">
			</div>
			<div id="map"></div>
		</div>
	</div>
	<div id="site-details-wrapper">
		<h2 class="ord-config-subtitle">Address Details</h2>
		<form id="ord-site-addr-form" action="/order/add-new-site/" method="post">
			{% csrf_token %}
			<div id="addr-grid">
				<div class="addr-grid-inner-wrapper addr-long">
					<label for="site-name" class="addr-label">Location Name <span style="color: #D32F2F;">*</span></label>
					<input class="addr-grid-item" type="text" name="site_name" id="site-name" required>
				</div>
				<div class="addr-grid-inner-wrapper addr-long">
					<label for="addr-line-1" class="addr-label">Address Line 1</label>
					<input class="addr-grid-item addr-field-dis" type="text" name="address_line_1" id="addr-line-1" readonly>
				</div>
				<div class="addr-grid-inner-wrapper">
					<label for="addr-line-2" class="addr-label">Line 2</label>
					<input class="addr-grid-item" type="text" name="address_line_2" id="addr-line-2">
				</div>
				<div class="addr-grid-inner-wrapper">
					<label for="addr-line-3" class="addr-label">Line 3</label>
					<input class="addr-grid-item" type="text" name="address_line_3" id="addr-line-3">
				</div>
				<div class="addr-grid-inner-wrapper">
					<label for="addr-city" class="addr-label">City/Town</label>
					<input class="addr-grid-item addr-field-dis" type="text" name="address_city" id="addr-city" readonly>
				</div>
				<div class="addr-grid-inner-wrapper">
					<label for="addr-state" class="addr-label">State/Province</label>
					<input class="addr-grid-item addr-field-dis" type="text" name="address_state" id="addr-state" readonly>
				</div>
				<div class="addr-grid-inner-wrapper">
					<label for="addr-zipcode" class="addr-label">Postal Code</label>
					<input class="addr-grid-item addr-field-dis" type="text" name="address_postal" id="addr-zipcode" readonly>
				</div>
				<div class="addr-grid-inner-wrapper">
					<label for="addr-country" class="addr-label">Country</label>
					<input class="addr-grid-item addr-field-dis" type="text" name="address_country" id="addr-country" readonly>
				</div>
			</div>
			<div id="addr-action-btns">
				<button id="ord-add-site-btn" class="ord-pri-btn" type="submit">Add Site</button>
				<button onclick="toggleSiteBtn(true);" class="ord-pri-btn" type="reset">Clear Form</button>
			</div>
		</form>
	</div>
</section>
<section id="ord-exist-site-sect">
	<h1 class="ord-config-title">Currect Sites</h1>
	{% if siteCount > 0 %}
	<div id="site-list-wrapper">
		{% for site in siteData %}
		<div class="site-row" data-count="{{ site.prCount }}">
			<img class="unimp" src="{% static 'order/images/icon-60.svg' %}" alt="site-icon">
			{% if site.valid == '0' %}
			<img src="{% static 'icon-102.svg' %}" alt="warn-icon">
			{% else %}
			<img src="{% static 'icon-103.svg' %}" alt="valid-icon">
			{% endif %}
			<span class="tooltip-source">{{ site.name }}
				<span class="tooltip-text">{{ site.addr }}</span>
			</span>
			<span class="unimp-2">{{ site.state }}</span>
			<img src="{% static 'icon-40.svg' %}" alt="delete-icon">
		</div>
		{% endfor %}
	</div>
	{% else %}
	<div class="ord-config-subtitle" style="margin: 2rem 0 0 0; padding-left: 1rem;">No sites to display.</div>
	{% endif %}
</section>
<!-- Scripts -->
<script src="{% static 'order/js/location.js' %}"></script>
<script src="{{ mapApi }}" async defer></script>
{% endblock ordConfBody %}