<!-- Order summary/quoting page -->
{% extends 'order/order-base.html' %}
{% load static %}

{% block ordConfBody %}
<section id="ord-summ-item-sect">
	<h1 class="ord-config-title">Order Summary</h1>
	<!-- Indicators -->
	<div id="ord-notes-wrapper">
		<div class="ord-note">
			<span class="color-strip" style="background-color: #C62828;"></span>
			<span>Product</span>
		</div>
		<div class="ord-note">
			<span class="color-strip" style="background-color: #0D47A1;"></span>
			<span>Feature</span>
		</div>
		<div class="ord-note">
			<span class="color-strip" style="background-color: #689F38;"></span>
			<span>Specification</span>
		</div>
		<div class="ord-note">
			<span class="color-strip" style="background-color: #880E4F;"></span>
			<span>Monthly Charge</span>
		</div>
		<div class="ord-note">
			<span class="color-strip" style="background-color: #1A237E;"></span>
			<span>Non-recurring Charge</span>
		</div>
	</div>
	<!-- Locations -->
	{% for siteDoc in siteDataList %}
	<div class="summ-loc-wrapper">
		<div class="loc-summ" data-flag="{{ siteDoc.priceFlag }}" data-id="{{ siteDoc.id }}">
			<div>
				<img onclick="getSitePricing('{{ siteDoc.id }}')" src="{% static 'order/images/icon-64.svg' %}"
					alt="calculator">
				<span>{{ siteDoc.name }}</span>
			</div>
			<div class="summ-price-block">
				<span class="mrc pl-site"></span>
				<span class="nrc pl-site"></span>
			</div>
		</div>
		<!-- Products -->
		{% for prDoc in siteDoc.svcList %}
		<div class="summ-pr-wrapper">
			<div class="pr-summ">
				<div>
					<img onclick="navToSvcConfig('{{ prDoc.id }}')" src="{% static 'order/images/icon-65.svg' %}" alt="package">
					<span>{{ prDoc.name }}</span>
				</div>
				<div class="summ-price-block">
					<span class="mrc pl-pr"></span>
					<span class="nrc pl-pr"></span>
				</div>
			</div>
			<!-- Product specs -->
			{% for psp in prDoc.pspList %}
			<div class="summ-spec summ-spec-pr">
				<div>
					<img src="{% static 'order/images/icon-67.svg' %}" alt="piece">
					<span>{{ psp.name }} ({{ psp.value }})</span>
				</div>
				<div class="summ-price-block">
					<span class="mrc pl-spec" data-price="{{ psp.mrc }}"></span>
					<span class="nrc pl-spec" data-price="{{ psp.nrc }}"></span>
				</div>
			</div>
			{% endfor %}
			<!-- Features -->
			{% for fet in prDoc.fetList %}
			<div class="summ-fet-wrapper">
				<div class="fet-summ">
					<div>
						<img src="{% static 'order/images/icon-66.svg' %}" alt="feather">
						<span>{{ fet.name }}</span>
					</div>
					<div class="summ-price-block">
						<span class="mrc pl-fet"></span>
						<span class="nrc pl-fet"></span>
					</div>
				</div>
				<!-- Feature specs -->
				{% for fsp in fet.fspList %}
				<div class="summ-spec summ-spec-fet">
					<div>
						<img src="{% static 'order/images/icon-67.svg' %}" alt="piece">
						<span>{{ fsp.name }} ({{ fsp.value }})</span>
					</div>
					<div class="summ-price-block">
						<span class="mrc pl-spec" data-price="{{ fsp.mrc }}"></span>
						<span class="nrc pl-spec" data-price="{{ fsp.nrc }}"></span>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	{% endfor %}
	<!-- Subtotal -->
	<div style="margin-top: 4.5rem;"></div>
	<div class="ord-config-subtitle smaller">Total Monthly (DISC.): <strong id="ord-summ-tmrc"></strong></div>
	<div class="ord-config-subtitle smaller">Total Non-recurring (DISC.): <strong id="ord-summ-tnrc"></strong></div>
	<!-- Actions -->
	<div id="ord-summ-action-wrapper">
		<button onclick="priceAllSites()" style="background-color: rgb(143, 190, 0);" id="ord-quote-btn" type="button"
			class="ord-pri-btn">Request Quote</button>
		<button onclick="showOrderPopup('ord-submit-popup', true)" style="background-color: #FF3D00;" id="ord-submit-btn"
			type="button" class="ord-pri-btn">Finalize/Submit</button>
	</div>
</section>
<!-- Popup -->
<div id="ord-submit-popup" class="seev-popup no-show">
	<div class="popup-head" style="margin-bottom: 3rem;">
		<img onclick="dismissOrderPopup('ord-submit-popup')" src="{% static 'icon-100.svg' %}" alt="close-icon">
	</div>
	<div class="popup-body">
		<div>Once you submit the order, it will be permanently locked and no further edits can be made. Are you sure to
			continue?</div>
		<div>
			<button onclick="submitOrderForm('ord-submit-form')" style="background-color: #FF3D00;" type="button"
				class="ord-pri-btn">Yes (Submit)</button>
			<button onclick="dismissOrderPopup('ord-submit-popup')" type="button" class="ord-pri-btn">No</button>
		</div>
	</div>
</div>
<!-- Waiting -->
<div id="ord-price-wait-popup" class="seev-popup no-show">
	<div class="popup-body">
		<img src="{% static 'order/images/icon-68.svg' %}" alt="hourglass">
		<div>Request being processed</div>
		<div id="wait-dots">
			<img class="wait-dot" data-num="1" src="{% static 'order/images/icon-69.svg' %}" alt="asterisk">
			<img class="wait-dot" data-num="2" src="{% static 'order/images/icon-69.svg' %}" alt="asterisk">
			<img class="wait-dot" data-num="3" src="{% static 'order/images/icon-69.svg' %}" alt="asterisk">
			<img class="wait-dot" data-num="4" src="{% static 'order/images/icon-69.svg' %}" alt="asterisk">
			<img class="wait-dot" data-num="5" src="{% static 'order/images/icon-69.svg' %}" alt="asterisk">
		</div>
	</div>
</div>
<!-- Hidden forms -->
<form style="display: none;" id="ord-price-form" action="/order/do-price/" method="post" novalidate>
	{% csrf_token %}
	<input type="text" name="site_array" id="id_price_site_array">
</form>
<form style="display: none;" id="ord-submit-form" action="/order/sub-ord/" method="post" novalidate>
	{% csrf_token %}
</form>
<!-- Scripts -->
<script src="{% static 'order/js/summary.js' %}"></script>
{% endblock ordConfBody %}