<!-- Order configuration template -->
{% extends 'order/base.html' %}
{% load static %}

{% block ordContent %}
<!-- Data -->
<aside style="display: none;">
	<div id="ord-data-order-number">{{ data_on }}</div>
	<div id="ord-data-order-status">{{ data_os }}</div>
	<div id="ord-data-order-dis" data-mrc="{{ ordMeta.order_dis_mrc }}" data-nrc="{{ ordMeta.order_dis_nrc }}"></div>
</aside>
<!-- Content -->
<div id="ord-config-head">
	<div id="ord-header-wrapper">
		<div id="order-number">Order # {{ ordMeta.order_number }}</div>
		<div id="order-name">Order Name: {{ ordMeta.order_name }}</div>
		<div id="ord-header-action-wrapper">
			<button type="button" class="order-icon-btn" onclick="showOrderPopup('ord-detail-popup')">
				<span>
					<img src="{% static 'order/images/icon-55.svg' %}" alt="view-icon">
					<span style="color: #283593;">View Details</span>
				</span>
			</button>
			<button type="button" class="order-icon-btn" onclick="showOrderPopup('ord-validation-popup')">
				<span>
					<img src="{% static 'order/images/icon-56.svg' %}" alt="validate-icon">
					<span style="color: #2E7D32;">Validate Order</span>
				</span>
			</button>
			<button type="button" class="order-icon-btn" onclick="showOrderPopup('ord-cancel-popup')">
				<span>
					<img src="{% static 'order/images/icon-57.svg' %}" alt="cancel-icon">
					<span style="color: #D84315;">Cancel Order</span>
				</span>
			</button>
		</div>
	</div>
</div>
<!-- Base scripts -->
<script src="{% static 'order/js/order.js' %}"></script>
<div id="ord-config-body">
	{% block ordConfBody %}
	{% endblock ordConfBody %}
</div>
<!-- Popup -->
<div class="black-overlay no-show"></div>
<!-- Order details -->
<div id="ord-detail-popup" class="seev-popup no-show">
	<div class="popup-head" style="margin-bottom: 3rem;">
		<img onclick="dismissOrderPopup('ord-detail-popup')" src="{% static 'icon-100.svg' %}" alt="close-icon">
	</div>
	<div>
		<div class="ord-detail-pop-row">
			<span>Oppor. #: </span>
			<span style="color: #B71C1C;">{{ ordMeta.opportunity_number }}</span>
		</div>
		<div class="ord-detail-pop-row">
			<span>Customer Name: </span>
			<span>{{ ordMeta.customer_name }}</span>
		</div>
		<div class="ord-detail-pop-row">
			<span>Business Client: </span>
			<span>{{ ordMeta.client_name }}</span>
		</div>
		<div class="ord-detail-pop-row">
			<span>Business Email: </span>
			<span>{{ ordMeta.client_email }}</span>
		</div>
		<div class="ord-detail-pop-row">
			<span>Business Phone: </span>
			<span>{{ ordMeta.client_phone }}</span>
		</div>
		<div class="ord-detail-pop-row">
			<span>Monthly Discount: </span>
			<span>{{ ordMeta.order_dis_mrc }}%</span>
		</div>
		<div class="ord-detail-pop-row">
			<span>Flat Discount: </span>
			<span>{{ ordMeta.order_dis_nrc }}%</span>
		</div>
		<div class="ord-detail-pop-row">
			<span>Order Status: </span>
			<span style="color: #4A148C;">{{ ordMeta.order_status }}</span>
		</div>
	</div>
</div>
<!-- Validation -->
<div id="ord-validation-popup" class="seev-popup no-show">
	<div class="popup-head" style="margin-bottom: 3rem;">
		<img onclick="dismissOrderPopup('ord-validation-popup')" src="{% static 'icon-100.svg' %}" alt="close-icon">
	</div>
	<div class="popup-body">
		<div>This will take you directly to the order home page, and all unsaved data will be lost. Are you sure to
			continue?</div>
		<div>
			<button onclick="submitOrderForm('ord-valid-form')" style="background-color: #43A047;" type="button"
				class="ord-pri-btn">Yes (Validate)</button>
			<button onclick="dismissOrderPopup('ord-validation-popup')" type="button" class="ord-pri-btn">No</button>
		</div>
	</div>
</div>
<!-- Cancellation -->
<div id="ord-cancel-popup" class="seev-popup no-show">
	<div class="popup-head" style="margin-bottom: 3rem;">
		<img onclick="dismissOrderPopup('ord-cancel-popup')" src="{% static 'icon-100.svg' %}" alt="close-icon">
	</div>
	<div class="popup-body">
		<div>You are about to cancel this order. This action cannot be reverted. Are you sure to continue?</div>
		<div>
			<button style="background-color: #D32F2F;" type="button" class="ord-pri-btn">Yes (Cancel)</button>
			<button onclick="dismissOrderPopup('ord-cancel-popup')" type="button" class="ord-pri-btn">No</button>
		</div>
	</div>
</div>
<!-- Float -->
<div class="seev-float-btn-group">
	<div style="background-color: #0D47A1;" class="seev-float-btn" onclick="exitOrder()">
		<img src="{% static 'order/images/icon-58.svg' %}" alt="exit-icon">
	</div>
	<div style="background-color: #B71C1C;" class="seev-float-btn float-above" onclick="navToConfigHome()">
		<img src="{% static 'order/images/icon-59.svg' %}" alt="home-icon">
	</div>
</div>
<!-- Hidden forms -->
<form style="display: none;" action="/order/exit-ord/" id="exit-ord-form" method="POST">
	{% csrf_token %}
</form>
<form id="ord-valid-form" action="/order/valid-ord/" method="post" novalidate style="display: none;">
	{% csrf_token %}
</form>
<form id="ord-cancel-form" action="#" method="post" novalidate style="display: none;">
	{% csrf_token %}
</form>
{% endblock ordContent %}