<!-- Order configuration home page -->
{% extends 'order/order-base.html' %}
{% load static %}

{% block ordConfBody %}
<div id="ord-body-wrapper">
	<div id="circle-wrapper" class="ord-body-inner-wrapper">
		<div class="frame-wrapper">
			<div id="circle-inner-box">
				<h1>Total Sites: {{ numSites }}</h1>
				<h1>Total Products: {{ numPrs }}</h1>
			</div>
		</div>
	</div>
	<div id="penta-wrapper" class="ord-body-inner-wrapper">
		<div class="frame-wrapper">
			<div id="penta-inner-box">
				<button type="button" class="ord-penta-btn font-btn">Configure Sites</button>
				<button id="ord-bp-btn" type="button" class="ord-penta-btn font-btn">Build Products</button>
				<button id="ord-es-btn" type="button" class="ord-penta-btn font-btn">Edit Services</button>
				<button onclick="navToSummary()" id="ord-sq-btn" type="button"
					class="ord-penta-btn font-btn">Summary/Quoting</button>
			</div>
		</div>
	</div>
</div>
<aside id="ord-snap-data" style="display: none;" data-ns="{{ numSites }}" data-np="{{ numPrs }}">
	{% if isValid %}
	<div id="ord-is-valid">True</div>
	{% endif %}
</aside>
<script src="{% static 'order/js/home.js' %}"></script>
{% endblock ordConfBody %}