<!-- Base for all html files in the application -->
<!-- Include global css and js -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>SE Eon Venture</title>
	{% load static %}
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<!-- Extra Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Racing+Sans+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'global.min.css' %}">
	<link rel="stylesheet" href="{% static 'header.min.css' %}">
	<link rel="stylesheet" href="{% static 'footer.min.css' %}">
	{% block css %}
	{% endblock css %}
</head>

<body>
	<!-- Header -->
	<header id="header">
		<div id="header-brand">
			<img src="{% static 'logo.png' %}" alt="header-logo">
			<div id="header-brand" class="font-brand">SE Eon Venture</div>
		</div>
		<div id="header-btns">
			<a target="_blank" id="header-order">
				<img src="{% static 'icon-31.svg' %}" alt="header-order-icon">
				<span>Orders</span>
			</a>
			<a href="https://github.com/Kairn/se-eon-venture" target="_blank" id="header-order">
				<img src="https://unpkg.com/simple-icons@latest/icons/github.svg" />
				<span>Source</span>
			</a>
		</div>
	</header>

	<!-- Content -->
	<div id="content-wrapper">
		{% block content %}
		{% endblock content %}
	</div>

	<!-- Footer -->
	<footer id="footer">
		<div id="trademark">
			<img id="logo" src="{% static 'logo.png' %}" alt="site-logo"></img>
			<div id="footer-brand" class="font-brand">SE Eon Venture</div>
			<div id="media">
				<img src="https://unpkg.com/simple-icons@latest/icons/facebook.svg" />
				<img src="https://unpkg.com/simple-icons@latest/icons/twitter.svg" />
				<img src="https://unpkg.com/simple-icons@latest/icons/linkedin.svg" />
				<a href="https://www.djangoproject.com/" target="_blank"><img
						src="https://unpkg.com/simple-icons@latest/icons/django.svg" /></a>
			</div>
		</div>
		<div id="support">
			<div id="support-title" class="font-tweb">Need technical support?</div>
			<div id="support-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, voluptatum error
				veniam nemo minus deserunt repellat sequi, odio voluptas officiis excepturi culpa quaerat iste est obcaecati,
				ipsa adipisci quasi unde alias sapiente eligendi incidunt consectetur porro tempora? Laboriosam dolore, sequi
				nostrum eaque voluptatum debitis officia voluptatibus libero dolores repudiandae similique.</div>
			<div id="support-links" class="font-tweb">
				<span>Terms of service</span> |
				<span>Privacy Policy</span> |
				<span>FAQs</span>
			</div>
		</div>
		<div id="footnote">
			<small id="copyright">© 2019 SE Eon Venture. All rights reserved.</small>
			<small id="author" class="font-tweb">Designed by: Eddy Soma</small>
		</div>
		<img src="{% static 'icon-00.svg' %}" alt="footer-order-icon">
	</footer>

	<!-- JavaScripts -->
	<div>
		<script src="{% static 'globalUtils.js' %}"></script>
		{% block js %}
		{% endblock js %}
	</div>
</body>

</html>